/* main stylesheets here */
body { font-family: Verdana,Helvetica,sans-serif;
  background: url(/media/img/bg/bg_dotted.png) repeat fixed 0 0 white; }
#main_header { height: 70px; }
#main_content .view { margin: 5px 0 5px 0; border: 1px solid #cccccc; }
#main_footer { height: 40px; text-align: center; }
#top_logo { width: 240px; margin-top: 20px; text-align: center; }
#top_ban .ads { text-align: center; margin-top: 5px; }
#top_nav ul li { margin: 10px; }
#top_menu { height: 40px; text-align: right; }
#top_menu ul { padding: 10px; }
#top_menu ul li { margin-left: 10px; padding: 0px 20px; }
#top_menu ul li.photomenu { padding: 4px 30px; }
#page_header { padding: 15px; background-color: white; border-bottom: 1px dotted #cccccc; }
#page_content { padding: 15px; background-color: white; }
.main { width: 960px; margin: 0 auto; }
.bg { background-color: #ce994d; }
.wrap { background: none repeat scroll 0 0 rgba(50,100,150,0.8); 
  border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px;}
.gray { color: gray; }
.white { color: #f4f4f4; }
.white a { color: #f4f4f4; }
.formpost { width: 100%; }
.formpost th { width: 8%; }
.formpost textarea { width: 100%; }
a.nodecor { text-decoration:none; }
a.nodecor img { border: 0 none; }
.inl table { display: inline; }
.inl li { display: inline; vertical-align: top; }
.nomarg { margin: 0 0 0 0; }
.nopad { padding: 0 0 0 0; }
.lfloat { float: left; text-align: left; }
.rfloat { float: right; text-align: right; }
.smaller { font-size: smaller; }
