/* main stylesheets here */
body { font-family: Verdana,Helvetica,sans-serif; 
  background: url(/media/img/bg/road.jpg) no-repeat fixed 50% 0 #6e2508; }
#header { height: 70px; }
#logo { width: 400px; margin-top: 25px; text-align: center; }
#topnav ul li { margin-left: 20px; text-shadow: 1px 1px #713326; }
#topban .ads { text-align: center; margin-top: 5px; }
#topmenu { height: 50px; text-align: right; }
#topmenu ul { padding: 15px; }
#topmenu ul li { margin-left: 10px; padding: 5px 10px; border: 1px solid #d6d6d6;
  border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px; }
#topmenu ul li.photomenu { padding: 5px 20px; }
#cont { padding: 10px; }
#pageheader { padding: 15px; background-color: white; border-bottom: 1px dotted #cccccc; }
#content { padding: 15px; background-color: white; }
#footer { height: 50px; text-align: center; }
.main { width: 966px; margin: 0 auto; }
.bg { background-color: #ce994d; }
.wrap { margin-top: 5px; background: none repeat scroll 0 0 rgba(56,32,44,0.3); 
 border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px;}
.gray { color: gray; }
.white { color: #f4f4f4; }
.white a { color: #f4f4f4; }
.formpost { width: 100%; }
.formpost th { width: 8%; }
.formpost textarea { width: 100%; }
a.nodecor { text-decoration:none; }
a.nodecor img { border: 0 none; }
.inl table { display: inline; }
.inl li { display: inline; vertical-align: top; }
.nomarg { margin: 0 0 0 0; }
.nopad { padding: 0 0 0 0; }
.lfloat { float: left; text-align: left; }
.rfloat { float: right; text-align: right; }
.smaller { font-size: smaller; }
