{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block keywords %}, {% trans 'updates, comments, news' %}{% endblock %}
{% block title %}{% trans 'News' %} - {% trans 'updates, comments, news' %} - {% endblock %}
{% block newsclass %}wrap{% endblock %}
{% block pageheader %}{# trans 'News' #}{% endblock %}
{% block content %}
<p>Что нового? Новости, изменения, обновления на сайте и не только.<p>
{% if request.user.is_authenticated %}
  <p>
    <form action="{% url 'mynews.views.edit_msg' id=form.initial.id %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form }}
       <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller hspace">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
{% endblock %}
