{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% load markup %}
{% block description %}{% with news.object_list|first as f %}{{ f.content|markdown:"codehilite,extra"|striptags|truncatewords:"200" }}{% endwith %} {% endblock %}
{% block keywords %}{% trans 'My news' %}, {% trans 'updates, comments, news' %}, {% endblock %}
{% block title %}{% trans 'My news' %} - {% trans 'updates, comments, news' %} - {% endblock %}
{% block pagestyle %}
{% endblock %}
{% block newsclass %}wrap3{% endblock %}
{% block pagestylelink %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/syntax.css" />
{% endblock %}
{% block pageheader %}{# trans 'My news' #}{% endblock %}
{% block content %}
  <p class="mtext hspace">Кто на новенького? Последния изменения, обновления на сайте, сообщения от пользователей.</p>
{% for msg in news.object_list %}
  <div class="wrap">
    <div class="msgtext">{{ msg.content|markdown:"codehilite,extra" }}</div>
    <div class="msgfooter">
      <a class="nodecor" href="{% url 'mynews.views.user_profile' id=msg.author.id %}">{{ msg.author.username }}</a>
      {% trans 'added' %} <acronym title="{{ msg.date }}">{{ msg.date|time_since }}</acronym> {% trans 'ago' %}
      {% if request.user.is_authenticated and request.user.id == msg.author.id or request.user.is_superuser %}
        <a class="nodecor hspace2" href="{% url 'mynews.views.edit_msg' id=msg.id %}">{% trans 'Edit' %}</a>
        <a class="nodecor" href="{% url 'mynews.views.delete_msg' id=msg.id %}">{% trans 'Delete' %}</a>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% if news.object_list %}

{% if list_all %}

  <p class="cfloat">
  {% if news.has_previous %}
    <a href="?page={{ news.previous_page_number }}">‹ {% trans 'previous' %}</a>
  {% elif news.has_next  %}
    <span class="lightgray">‹ {% trans 'previous' %}</span>
  {% endif %}
  {% if news.paginator.num_pages > 1 %}
    <span class="hspace2">{{ news.number }} {% trans 'of' %} {{ news.paginator.num_pages }}</span>
  {% endif %}
  {% if news.has_next %}
    <a href="?page={{ news.next_page_number }}">{% trans 'next' %} ›</a>
  {% elif news.has_previous %}
    <span class="lightgray">{% trans 'next' %} ›</span>
  {% endif %}
  </p>

{% else %}

  <p class="hspace"><a href="{% url 'mynews.views.list_msg' all='all' %}">{% trans 'All news' %}</a></p>

{% endif %}

{% else %}

  <p class="mtext hspace">{% trans 'No posts' %}.</p>

{% endif %}

<p>
  <form action="{% url 'mynews.views.add_msg' %}" method="post">{% csrf_token %}
{% if request.user.is_authenticated %}
    <table class="mtext formpost">
      {{ form }}
      <tr><th></th><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="" align="right">{% trans 'Support syntax' %} <b>Markdown</b></td></tr>
        </table>
      </td></tr>
    </table>
{% else %}
  <p class="hspace">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
  </form>
</p>
    
{% endblock %}
