{% extends 'base.html' %}
{% load i18n %}
{% block keywords %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block title %}{% trans 'Edit song' %} - {% trans 'songs' %}, {% trans 'chords' %} - {% endblock %}
{% block pagestyle %}
#id_artist { color: #c8c8c8; }
#id_title { width:100%; }
{% endblock %}
{% block songsclass %}wrap{% endblock %}
{% block pageheader %}{% trans 'Edit song' %}{% endblock %}
{% block content %}
<p>Добавляйте свои подборы и тексты.</p>
{% if request.user.is_authenticated %}
  <form action="{% url 'songs.views.edit_song' id=form.initial.id %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form }}
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
  </form>
{% else %}
  <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}
