{% extends 'base.html' %}
{% load i18n %}
{% load filetransfers %}
{% block keywords %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block title %}{% trans 'Edit' %} {% trans 'audio' %} - {% trans 'songs' %}, {% trans 'chords' %} - {% endblock %}
{% block pagestyle %}
#id_title { width:100%; }
{% endblock %}
{% block songsclass %}wrap{% endblock %}
{% block pageheader %}{% trans 'Edit' %} {% trans 'audio' %}{% endblock %}
{% block content %}
<p>Загрузить файл <i>mp3</i>.</p>
{% if request.user.is_authenticated %}
  <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
    {% render_upload_data upload_data %}
    <table>
      {{ form }}
      <tr><th/><td><span class="smaller">{{ file_name }}</span></td></tr>
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
  </form>
{% else %}
  <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}
