{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}{% if song_count %}. {% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block keywords %}{% if song_count %}, {% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block title %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if song_count and not search_count %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}
{% if not song_count and not search_count %}{% trans 'Chords, lyrics' %}{% endif %}
 - {% trans 'songs' %}, {% trans 'chords' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.songmenu { border: 1px solid rgb(200,220,230); }
.indexlist { text-align: center; background-color: #f0f0f0; padding: 2px 8px; font-size: 70%; }
.messageitem { background-color: #ffffff; min-height: 2em; padding: 0 10px; margin: 0px; }
.messageitem dt { padding: 5px 0 5px 0; }
.messageitem dd { padding-bottom: 5px; color: gray; }
#id_search { height: 12px; margin-left: 10px; }
input.submit { height: 26px; margin-left: 5px;}
{% endblock %}
{% block pageheader %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if song_count and not search_count %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}
{% if not song_count and not search_count %}{% trans 'Chords, lyrics' %}{% endif %}
{% endblock %}
{% block content %}
<div class="indexlist">
  <a href="{% url 'songs.views.list_art' %}">{% trans 'Full list' %}</a>
  {% for i, v in art_index.items %}
    <a class="nodecor" href="{% url 'songs.views.list_art' ind_art=i %}">{{ v|capfirst }}</a>
  {% endfor %}
  <form class="search" action="{% url 'songs.views.list_songs' %}" method="get">{% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="{% trans 'Search' %}" />
  </form>
</div>
<p>Подборы гитарных аккордов к песням. В базе свыше <b>11000</b> текстов. Читайте, добавляйте свои подборы и тексты. </p>
{% if song_count %}
  <p>Найдено {% if art_count %}<b>{{ art_count }}</b> исполнителей и {% endif %}<b>{{ song_count }}</b> текстов.</p>
{% endif %}
{% if last_count %}
  <p class="lightgray">Последние обновления</p>
{% endif %}
{% for song in songs.object_list %}
  <dl class="messageitem"><dt>
  {% if art_count %}
    <a class="nodecor" href="{% url 'songs.views.list_songs' id_art=song.ref_id %}">{{ song.artist }}</a>
  {% endif %}
  {% if last_count or search_count%}
    <a class="nodecor" href="{% url 'songs.views.list_songs' id_art=song.art_id %}">{{ song.artist }}</a>
  {% endif %}
  {% if song.count %}
    <span class="smaller">[{{ song.count }}]</span>
  {% else %}
    <a href="{% url 'songs.views.get_song' id=song.id %}">{{ song.title|escape }}</a>
  {% endif %}
  {% if not art_count and song.audio %}
    <span class="smaller">[<a class="nodecor" title="{% trans 'Listen' %}" href="{% url 'songs.views.get_song' id=song.id %}?a=1">{% trans 'Listen' %}</a>]</span>
  {% endif %}
  </dt>
  {% if last_count %}
    <dd class="smaller">{{ song.date|time_since }} {% trans 'ago' %}</dd>
  {% endif %}
  </dl>
{% endfor %}
{% if songs.object_list %}
  <p class="smaller">
    {% if songs.has_previous %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% endif %}
    {% if songs.paginator.num_pages > 1 %}
      <span class="current">
        {% trans 'Page' %} {{ songs.number }} {% trans 'of' %} {{ songs.paginator.num_pages }}
      </span>
    {% endif %}
    {% if songs.has_next %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.next_page_number }}">{% trans 'next' %} ›</a>
    {% endif %}
  </p>
{% else %}
  <p>{% trans 'No songs' %}.</p>
{% endif %}
{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'songs.views.add_song' %}">{% trans 'Add song' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to add songs' %}.</p>
{% endif %}
{% endblock %}
