{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load myfilter %}
{% load mathfilters %}
{% block description %}{% if song_count and not art_count %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %} {{ song_count }} текстов. {% endif %}{% trans 'songs' %} {% endblock %}
{% block keywords %}{% if song_count %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %} {{ song_count }} текстов, {% endif %}{% trans 'chords' %}, {% endblock %}
{% block title %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if song_count and not search_count %}{% if art_key %}Список исполнителей{% else %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}{% endif %}
{% if not song_count and not search_count %}{% trans 'Chords, lyrics' %}{% endif %}
 - {% trans 'songs' %} - {% endblock %}
{% block pagestyle %}
.msgtext dt { border:0; }
.about p { display: inline; }
ul.hr { display: table; }
ul.hr li { padding: 0 10px; display: table-cell; width: 140px; }
#id_search { height: 16px; margin-left: 12px; }
{% endblock %}
{% block songsclass %}wrap3{% endblock %}
{% block pageheader %}
{% endblock %}

{% block content %}

<div class="indexlist wrap">
  <a class="nodecor hspaced" href="{% url 'songs.views.list_art' %}">Все</a>
  {% for i, v in art_index.items %}
    <a class="nodecor hspaced" href="{% url 'songs.views.list_art' ind_art=i %}">{{ v|capfirst }}</a>
    {% if forloop.counter == 26 %}<br>{% endif %}
  {% endfor %}
  <form class="search" action="{% url 'songs.views.list_songs' %}" method="get">{% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="{% trans 'Search' %}" />
  </form>
</div>

{% if last_count %}
<p class="mtext hspace">
  Подборы гитарных аккордов к песням. В базе свыше <b>26000</b> текстов.
</p>
<ul class="mtext hr hspace2">
<li class="inl"><a class="nodecor" href="/posts/5691594208444416#id5691594208444416">Аккорды</a>
<li class="inl"><a class="nodecor" href="/posts/5657300505198592#id5657300505198592">Таблица аккордов</a>
<li class="inl"><a class="nodecor" href="/posts/5707820058017792#id5707820058017792">Транспонирование аккордов</a>
<li class="inl"><a class="nodecor" href="/posts/5752329273868288#id5752329273868288">Переборы</a>
<li class="inl"><a class="nodecor" href="/posts/5642340328800256#id5642340328800256">Гитарные бои</a>
<li class="inl"><a class="nodecor" href="/songs/art/5170602126082048">Мои тексты</a>
</ul>
{% endif %}

{% if song_count %}
<p>
{% if search_count or art_key %}
  <h2 class="inl nomarg"></h2><span class="mtext hspace"> Найдено {% if art_count %}<b>{{ art_count }}</b> исполнителей и {% endif %}<b>{{ song_count }}</b> текстов</span>
{% else %}
{% with songs.object_list|first as f %}
  <h2 class="inl nomarg"><a class="nodecor" href="{{ request.path }}">
    <span class="hspace">{{ f.artist }}</span></a></h2>
    <span class="mtext hspace">Найдено <b>{{ song_count }}</b> текстов</span>
{% endwith %}
{% endif %}
</p>
{% endif %}

{% if last_count %}
  <p class="mtext hspace">Последние обновления:</p>
{% endif %}

{% if songs.object_list %}

{% for song in songs.object_list %}

  {% if not song.date and song.content %}
    <div class="wrap">
      <div class="about msgtext">
        <img class="rounded" src="https://raw.githubusercontent.com/egaxegax/FotoSite/master/{{ song.tr_art }}.jpg" alt=" " title="{{ song.artist }}" />
        <span class="smaller">{{ song.content|markdown:"codehilite,extra" }}</span>
      </div>
      <div class="msgfooter gray">
        {% if request.user.is_authenticated and request.user.id == song.author.id or request.user.is_superuser %}
          <a class="nodecor hspace2" href="{% url 'songs.views.edit_song' id=song.id %}">{% trans 'Edit' %}</a>
          <a class="nodecor" href="{% url 'songs.views.delete_song' id=song.id %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="wrap">
      <dl class="msgtext"><dt>
      {% if art_count %}
        <img class="rounded" width="60px" src="https://raw.githubusercontent.com/egaxegax/FotoSite/master/{{ song.tr_art }}.jpg" alt=" " title="" />
        <a class="nodecor" href="{% url 'songs.views.list_songs' tr_art=song.tr_art id_art=song.art_id %}">{{ song.artist }}</a>
      {% endif %}
      {% if last_count or search_count%}
        <img class="rounded" width="60px" src="https://raw.githubusercontent.com/egaxegax/FotoSite/master/{{ song.tr_art }}.jpg" alt=" " title="" />
        <a class="nodecor pink" href="{% url 'songs.views.list_songs' tr_art=song.tr_art id_art=song.art_id %}">{{ song.artist }}</a>
      {% endif %}
      {% if song.count %}
        <span class="smaller">[{{ song.count }}]</span>
      {% else %}
        <a class="nodecor" href="{% url 'songs.views.get_song' tr_art=song.tr_art tr_title=song.tr_title id=song.id %}">{{ song.title|escape }}</a>
      {% endif %}
      {% if not art_count and song.audio %}
        <span class="smaller">[<a class="nodecor" title="{% trans 'Listen' %}" href="{% url 'songs.views.get_song' id=song.id %}?a=1">{% trans 'Listen' %}</a>]</span>
      {% endif %}
      {% if not last_count %}
        <div class="rfloat">
        {% if request.user.is_authenticated and not song.count %}
          <a class="nodecor hspace" href="{% url 'songs.views.get_song' id=song.id %}?asfile=1" title="Сохранить файл" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke="#4d3ca0" stroke-width="3" stroke-linecap="round" stroke-linejoin="arcs" fill="none"><path transform="scale(0.85 0.85) translate(-1 0)" d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>
          </a>
        {% endif %}
          <span class="counter smaller lightgray hspace">{{ song.index }}</span>
        </div>
      {% endif %}
      </dt>
      {% if last_count %}
        <dd class="smaller">{{ song.date|time_since }} {% trans 'ago' %}</dd>
      {% endif %}
      </dl>
    </div>
  {% endif %}

{% endfor %}

  <p class="hspace">
  {% if songs.has_previous %}
    <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.previous_page_number }}">‹ {% trans 'previous' %}</a>
  {% elif songs.has_next  %}
    <span class="lightgray">‹ {% trans 'previous' %}</span>
  {% endif %}
  {% if songs.paginator.num_pages > 1 %}
    <span class="hspace2">{{ songs.number }} {% trans 'of' %} {{ songs.paginator.num_pages }}</span>
  {% endif %}
  {% if songs.has_next %}
    <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.next_page_number }}">{% trans 'next' %} ›</a>
  {% elif songs.has_previous %}
    <span class="lightgray">{% trans 'next' %} ›</span>
  {% endif %}
  </p>
  
{% else %}

  <p class="mtext hspace">{% trans 'No songs' %}.</p>

{% endif %}

{% if request.user.is_authenticated %}
  <p class="hspace"><a href="{% url 'songs.views.add_song' %}">{% trans 'Add song' %}</a></p>
{% else %}
  <p class="hspace">{% trans 'Please authorize to add songs' %}.</p>
{% endif %}

{% endblock %}
