{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load customfilters %}
{% block description %}{{ song.desc|strip_text }} {% endblock %}
{% block keywords %}{{ song.artist }}, {{ song.title }}, {% trans 'chords' %}, {% endblock %}
{% block title %}{{ song.artist }} - {{ song.title }}, {% trans 'chords' %} - {% endblock %}
{% block pagestyle %}
.msgcont { line-height: 1.5em; width: 100; }
.msgcont b { font-weight: 500; color: #5645ad; }
.msgcell { display: table-cell; vertical-align: top; width: 50%; }
.about { display: table; }
.about * { display: table-cell; vertical-align: middle; }
#chordcont { text-align: center; }
{% endblock %}
{% block songsclass %}wrap3{% endblock %}
{% block pagescript %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/rafael.min.js?v1.1.10"></script>
<script src="/static/js/jtab.js?v1.1.10"></script>
<script type="text/javascript">
if(window.addEventListener) {
   window.addEventListener('load', function(){ addSongChords('songcont'); }, false);
} else { 
   window.attachEvent('onload', function(){ addSongChords('songcont'); });
}
// add icons chods by jtab.js & rafael.js
function addSongChords(opts) {
    var songText = document.getElementById('songcont');
    var chordCont = document.getElementById('chordcont');
    if (!songText || !chordCont) return;
    // parse chords
    var songChords = songText.innerHTML.match(/(\s|\()*([A-GH])([0-9a-z#:]{0,})(\s|\))*/gm);

    if(!songChords) return;

    songChords = songChords.reduce(function(items, chord) {
        chord = chord.replace(/(\s|\(|\))/,'');
        var parts = chord.split(":"),
            fp = parts[0],
            p1 = fp.replace(/^[A-GH#b]{1,2}/,''),
            p2 = fp.substr(0, fp.length - p1.length),
            bn = jtab.WesternScale.BaseNotes[p2];
        if (bn)
            fp = bn[0] + p1;
        
        if (items.indexOf(chord) < 0 && jtab.Chords[fp] != undefined) 
            items.push(chord);
        return items;
    }, []);

    for (var k=0; k<songChords.length; k++) {
        var chord = songChords[k];
        var el = document.createElement('div');
        el.appendChild(document.createTextNode(chord));
        chordCont.appendChild(el);
        jtab.render(el);
  }
}
</script>
{% endblock %}
{% block pageheader %}{% endblock %}

{% block content %}

<div class="indexlist mtext wrap">
  <form class="search" action="{% url 'songs.views.list_songs' %}" method="get">{% csrf_token %}
    <a class="nodecor hspaced" href="{% url 'songs.views.list_songs' %}?art=*">Все</a>
    {{ form }}
    <input class="submit" type="submit" value="Найти" />
  </form>
</div>

<p>
  <h2 class="nomarg"><a class="nodecor" href="{% url 'songs.views.list_songs' tr_art=song.tr_art id_art=song.art_id %}"><span class="hspace">{{ song.artist }} </span></a>{{ song.title }}</h2>
</p>

{% for song in songs %}

  {% if not song.date and song.content %}
    <div class="wrap">
      <div class="about msgtext">
        <img class="hmarg rounded" src="https://raw.githubusercontent.com/egaxegax/FotoSite/master/songs/{{ song.tr_art }}.jpg" alt=" " title="{{ song.artist }}" />
        {{ song.content|markdown:"codehilite,extra" }}
      </div>
      <div class="msgfooter gray">
        {% if request.user.is_authenticated and request.user.id == song.author.id or request.user.is_superuser %}
          <a class="nodecor hspace2" href="{% url 'songs.views.edit_song' id=song.id %}">{% trans 'Edit' %}</a>
          <a class="nodecor" href="{% url 'songs.views.delete_song' id=song.id %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="wrap">
      <div class="msgtext msgcont">
        <div class="msgcell" id="songcont">{{ song.content|safe }}</div>
        <div class="msgcell yellow" id="chordcont"></div>
      </div>
    {% if song.url %}
      <div class="msgtext">{{ song.url|markdown:"codehilite,extra" }}</div>
    {% endif %}
      <div class="msgfooter gray">
        {% if song.author %}
          <a class="nodecor hspace" href="{% url 'songs.views.user_profile' id=song.author.id %}">{{ song.author.username }}</a>         
        {% endif %}
        {% if song.date %}
          <acronym title="{{ song.date }}">{{ song.date|time_since }}</acronym>
        {% endif %}
        {% if request.user.is_authenticated and request.user.id == song.author.id or request.user.is_superuser %}
          <a class="nodecor hspace2" href="{% url 'songs.views.edit_song' id=song.id %}">{% trans 'Edit' %}</a>
          <a class="nodecor" href="{% url 'songs.views.delete_song' id=song.id %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endfor %}

<p class="mtext hspace">
{% if request.user.is_authenticated %}
  <a href="{% url 'songs.views.add_song' %}">{% trans 'Add song' %}</a>
{% else %}
  {% trans 'Please authorize to add songs' %}
{% endif %}
</p>

{% endblock %}
