{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}{% if song_count %}. {% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block keywords %}{% if song_count %}, {% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}, {% trans 'songs' %}, {% trans 'chords' %}{% endblock %}
{% block title %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if song_count and not search_count %}{% if art_key %}Список исполнителей{% else %}{% with songs.object_list|first as f %}{{ f.artist }}{% endwith %}{% endif %}{% endif %}
{% if not song_count and not search_count %}{% trans 'Chords, lyrics' %}{% endif %}
 - {% trans 'songs' %}, {% trans 'chords' %} - {% endblock %}
{% block pagestyle %}
#id_search { height: 16px; margin-left: 12px; }
{% endblock %}
{% block songsclass %}wrap{% endblock %}
{% block pageheader %}
{% endblock %}
{% block content %}
<p>Подборы гитарных аккордов к песням. В базе свыше <b>11000</b> текстов. Читайте, добавляйте свои подборы и тексты. </p>
<div class="indexlist wrap">
  <a class="hspaced" href="{% url 'songs.views.list_art' %}">{% trans 'Full list' %}</a>
  {% for i, v in art_index.items %}
    <a class="nodecor hspaced" href="{% url 'songs.views.list_art' ind_art=i %}">{{ v|capfirst }}</a>
  {% endfor %}
  <form class="search" action="{% url 'songs.views.list_songs' %}" method="get">{% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="{% trans 'Search' %}" />
  </form>
</div>
<p>
{% if song_count %}
{% if search_count %}Поиск '{{ request.GET.search }}'. {% endif %}
{% if song_count and not search_count %}{% if art_key %}{% else %}{% with songs.object_list|first as f %}<a class="nodecor" href="{% url 'songs.views.list_songs' id_art=f.art_id %}">{{ f.artist }}. </a>{% endwith %}{% endif %}{% endif %}
{# if not song_count and not search_count #}{# trans 'Chords, lyrics' #}{# endif #}
  Найдено {% if art_count %}<b>{{ art_count }}</b> исполнителей и {% endif %}<b>{{ song_count }}</b> текстов.
{% endif %}
</p>
{% if last_count %}
  <p>Последние обновления:</p>
{% endif %}
{% if songs.object_list %}
  <div class="wrap">
{% for song in songs.object_list %}
  <dl class="msgtext"><dt>
  {% if art_count %}
    <a class="nodecor" href="{% url 'songs.views.list_songs' id_art=song.ref_id %}">{{ song.artist }}</a>
  {% endif %}
  {% if last_count or search_count%}
    <a class="nodecor" href="{% url 'songs.views.list_songs' id_art=song.art_id %}">{{ song.artist }}</a>
  {% endif %}
  {% if song.count %}
    <span class="smaller">[{{ song.count }}]</span>
  {% else %}
    <a class="nodecor" href="{% url 'songs.views.get_song' id=song.id %}">{{ song.title|escape }}</a>
  {% endif %}
  {% if not art_count and song.audio %}
    <span class="smaller">[<a class="nodecor" title="{% trans 'Listen' %}" href="{% url 'songs.views.get_song' id=song.id %}?a=1">{% trans 'Listen' %}</a>]</span>
  {% endif %}
  </dt>
  {% if last_count %}
    <dd class="smaller">{{ song.date|time_since }} {% trans 'ago' %}</dd>
  {% endif %}
  </dl>
{% endfor %}
  </div>
  <p class="smaller">
  {% if songs.has_previous %}
    <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.previous_page_number }}">‹ {% trans 'previous' %}</a>
  {% endif %}
  {% if songs.paginator.num_pages > 1 %}
    <span class="current">
      {% trans 'Page' %} {{ songs.number }} {% trans 'of' %} {{ songs.paginator.num_pages }}
    </span>
  {% endif %}
  {% if songs.has_next %}
    <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ songs.next_page_number }}">{% trans 'next' %} ›</a>
  {% endif %}
  </p>
{% else %}
  <div class="wrap">
    <div class="msgtext">{% trans 'No songs' %}.</div>
  </div>
{% endif %}
{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'songs.views.add_song' %}">{% trans 'Add song' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to add songs' %}.</p>
{% endif %}
{% endblock %}
