{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% trans 'Main' %}, {% trans 'info, contacts' %}. {% endblock %}
{% block keywords %}{% trans 'info, contacts' %}. {% endblock %}
{% block title %}{% trans 'Main' %} - {% trans 'info, contacts' %} - {% endblock %}
{% block pagestyle %}
#myview { background: url({{ MEDIA_URL }}img/egaxegax.png) no-repeat; height: 170px; padding: 20px 0 0 250px; }
{% endblock %}
{% block aboutsclass %}wrap{% endblock %}
{% block pageheader %}{# trans 'Main' #}{% endblock %}
{% block content %}
<p>
  Портал Григория Еремина. Фото, тексты, сообщения от автора. Заходите, смотрите, пишите заметки, оставляйте комментарии.
</p>
<p class="smaller">
  P.S. Делай что можешь, с тем что имеешь, там где ты есть. <i>Теодор Рузвельт</i>. 
</p>
<div class="wrap">
  <div class="msgtext">
    <dl id="myview" class="nomarg">
      <dt>Контакты:</dt>
      <dd></dd>
      <dd>Личная: <a class="smaller" href="http://vk.com/egaxegax">http://vk.com/egaxegax</a></dd>
      <dd>Проекты: <a class="smaller" href="http://github.com/egaxegax">https://github.com/egaxegax</a></dd>
      <dd>Почта: <a class="smaller" href="mailto:egax@bk.ru?subject=О%20сайте%20egaxegax.appspot.com&body=Хочу%20написать" target="_blank">egax@bk.ru</a>, 
        <a class="smaller" href="mailto:egaxegax@gmail.com?subject=About%20egaxegax.appspot.com&body=Good%20site" target="_blank">egaxegax@gmail.com</a></dd>
    </dl>
  </div>
</div>
{% endblock %}
