{% extends 'base.html' %}
{% load i18n %}
{% block pagestyle %}
#topmenu li.mainmenu { background-color: #cd984c; }
{% endblock %}
{% block pageheader %}{% trans 'Main' %}{% endblock %}
{% block content %}
<p>
  Портал Григория Еремина. Фото, тексты, сообщения от автора. Заходите, смотрите, пишите заметки, оставляйте комментарии.
</p>
<p class="smaller">
  P.S. Делай что можешь, с тем что имеешь, там где ты есть. <i>Теодор Рузвельт<i>. 
</p>
<img src='/media/img/egaxegax.png' />
{% endblock %}
