{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% if album %}. {{ album }}{% endif %}, {% trans 'photos, images, pictures' %}{% endblock %}
{% block keywords %}, {% if album %}{{ album }}{% endif %}, {% trans 'photos, images, pictures' %}{% endblock %}
{% block title %}
{% if album %}{{ album }} - {% trans 'photos, images, pictures' %}{% else %}{% trans 'Photos' %}{% endif %} - {% endblock %}
{% block pagestyle %}
#topmenu li.photomenu { background-color: #cd984c; }
#viewcont { width: 100%; height: 100%; visibility: hidden; position: fixed; left: 0; top: 0; background-color: rgba(100,100,100,0.5); }
.inbar div { background-color: #cd984c; color: rgba(255,255,255,0.8); min-width: 30px; padding: 4px; text-align: center; font-size: 200%; }
li.nav { padding: 0 4px 0 4px; }
li.nav i { padding-left: 24px; }
{% endblock %}
{% block pageheader %}{% trans 'Photos' %}{% endblock %}
{% block content %}
<script type="text/javascript">
  function viewphoto(counter, photo_id, photo_width, photo_height, photo_user_id) {
    var viewCont = document.getElementById('viewcont'),
        viewFull = document.getElementById('viewfull'),
        viewEdit = document.getElementById('viewedit'),
        viewDelete = document.getElementById('viewdelete'),
        viewRef = document.getElementById('viewref'),
        viewPhoto = document.getElementById('viewphoto'),
        thumbPhoto = document.getElementById('thumb' + counter);
    // shrink to fit
    var vh = window.innerHeight,
        vw = window.innerWidth;
    var hr = vh / photo_height,
        wr = vw / photo_width;
    var mh = photo_height,
        mw = photo_width;
    var ratio = mh <= mw;
    if (hr < 1) {
      mh = mh * hr;
      mw = mw * hr;
      wr = vw / mw;
    }
    if (wr < 1) {
      mw = mw * wr;
    }
    var sr = Math.floor(0.93 * (ratio ? mw : mh));
    if (viewEdit) {
      viewEdit.style.display = 'none';
      viewDelete.style.display = 'none';
      if ('{{ request.user.id }}' == photo_user_id || '{{ request.user.is_superuser }}') {
        viewEdit.href = '/photos/edit/' + photo_id;
        viewDelete.href = '/photos/del/' + photo_id;
        viewEdit.style.display = 'inline';
        viewDelete.style.display = 'inline';
      }
    }
    viewFull.href = '/photos/view/' + photo_id;
    viewRef.href = 'javascript:viewnext(' + counter + ')';
    viewPhoto.src = thumbPhoto.src.substr(0, thumbPhoto.src.length-5) + '=s' + sr;
    viewPhoto.onload = function() {
      viewCont.style.visibility = 'visible';
    }
  }
  function viewnext(counter) {
    var nref = document.getElementById('thumbref' + String(++counter)) || document.getElementById('thumbref1');
    if (nref) nref.click();
  }
</script>
<p>Подборка фотографий, снятых на телефон, о природе, местах, людях. Смотрите, добавляйте свои работы.</p>
{% if photos_count %}<p>Найдено <b>{{ photos_count }}</b> изображений.</p>{% endif %} 
{% if photos.object_list %}
    <table>
  {% for photo in photos.object_list %}
    {% if forloop.counter in rows_count %}<tr>{% endif %}
    {% if photos.has_previous %}
      <td>{% if forloop.counter == 1 %}
        <a class="nodecor" href="{% url 'my.views.list_photos' %}?page={{ photos.previous_page_number }}"><img src='/media/img/s_prev.png' title="{% trans 'previous' %}" alt="{% trans 'previous' %}" /></a>
      {% endif %}</td>
    {% endif %}
      <td align="center">
        <a id="thumbref{{ forloop.counter }}" class="nodecor" href="javascript:viewphoto({{ forloop.counter }}, {{ photo.id }}, {{ photo.width }}, {{ photo.height }}, '{{ photo.author.id }}');">
          <img id="thumb{{ forloop.counter }}" src="{{ photo.thumb_url }}=s128" title="{{ photo.title }}" alt="{{ photo.title }}"/></a>
          <div><a class="smaller gray" href="{% url 'my.views.list_photos' id_album=photo.id %}">{{ photo.album }}</a></div>
      </td>
    {% if photos.has_next %}
      <td>{% if forloop.revcounter == 1 %}
        <a class="nodecor" href="{% url 'my.views.list_photos' %}?page={{ photos.next_page_number }}"><img src='/media/img/s_next.png' title="{% trans 'next' %}" alt="{% trans 'next' %}" /></a>
      {% endif %}</td>
    {% endif %}
  {% endfor %}
    </table>
{% else %}
  <p>{% trans 'No photos' %}.</p>
{% endif %}
{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'my.views.add_photo' %}">{% trans 'Add photo' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to upload photos' %}.</p>
{% endif %}
<!-- viewphoto -->
<table id="viewcont"><tr>
<td align="center">
  <a id="viewref" class="nodecor" href="">
    <img id="viewphoto" src="" title="{% trans 'next' %}" />
  </a>
</td>
<td class="inbar" width="1%" valign="top">
  <a id="viewclose" class="nodecor" href="#" onclick="document.getElementById('viewcont').style.visibility='hidden';" title="{% trans 'Close' %}">
    <div>X</div>
  </a><br/>
  <a id="viewfull" class="nodecor" href="" title="{% trans 'Click to view full size' %}" target="_blank">
    <div>&#x2750;</div>
  </a><br/>
  {% if request.user.is_authenticated %}
    <a id="viewedit" class="nodecor" href="" title="{% trans 'Edit' %}"><div>&#x2710;</div></a><br/>   
    <a id="viewdelete" class="nodecor" href="" title="{% trans 'Delete' %}"><div>&#x2672;</div></a>
  {% endif %}
</td></tr>
</table>
<!-- /viewphoto -->
{% endblock %}
