{% extends 'base.html' %}
{% load i18n %}
{% block description %}, {% trans 'photos' %}{% endblock %}
{% block keywords %}, {% trans 'photos' %}{% endblock %}
{% block title %}{% trans 'Photos' %} - {% endblock %}
{% block pagestyle %}
#topmenu li.photomenu { background-color: #cd984c; }
#viewcont { position: fixed; left:0; top:0; height: 100%; width: 100%; }
#viewphoto { max-width:805px; background-color: #a07443; border: 1px solid #999999; }
#viewheader { height: 1.5em; }
#closebtn { background-color: #cd984c; }
#viewfooter { text-align:left; }
.info { font-size: 80%; color: #888888; width: 120px; text-align: center; }
.inbar { margin: 1px 5px; padding: 1px 8px; }
.edit b { color: #f2866b; }
li.img img { margin: 16px 0 16px 0; }
li.nav { padding: 0 4px 0 4px; }
li.nav i { padding-left: 24px; }
{% endblock %}
{% block pageheader %}{% trans 'Photos' %}{% endblock %}
{% block content %}
<p>Подборка фотографий, снятых на телефон, о природе, местах, людях. Смотрите, добавляйте свои работы.</p>
{% if photos.object_list %}
  <ul class="inl nomarg nopad smaller">
    <li class="nav">
  {% if photos.has_previous %}
      <a class="nodecor" href="{% url my.views.list_photos %}?page={{ photos.previous_page_number }}">
        <img src='/media/img/s_prev.png' title="{% trans 'previous' %}" alt="{% trans 'previous' %}" /></a>
  {% else %}<i></i>
  {% endif %}
    </li>
  {% for photo in photos.object_list %}
    <li class="img">
      <a class="img nodecor" href="{% url my.views.list_photos id=photo.id %}?page={{ photos.number }}">
        <img src="{{ photo.thumb_url }}=s128" title="{{ photo.title }} | {{ photo.album }}" alt="{{ photo.title }}"/></a>
    </li>
  {% endfor %}
    <li class="nav">
  {% if photos.has_next %}
    <a class="nodecor" href="{% url my.views.list_photos %}?page={{ photos.next_page_number }}"><img src='/media/img/s_next.png' title="{% trans 'next' %}" alt="{% trans 'next' %}" /></a>
  {% else %}<i></i>
  {% endif %}
    </li>
  </ul>
{% else %}
  <p>{% trans 'No photos' %}.</p>
{% endif %}
{% if user.is_authenticated %}
  <p class="smaller"><a href="{% url my.views.add_photo %}">{% trans 'Add photo' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to upload photos' %}.</p>
{% endif %}
{% for photo in view %}
  <table id="viewcont">
  <tr><td align="center" valign="center">
    <div id="viewphoto" class="wrap white">
      <div id="viewheader">
        <a class="nodecor" href="#" onclick="document.getElementById('viewcont').style.display='none';" title="{% trans 'Close' %}">
          <div id="closebtn" class="smaller inbar rfloat"><b>x</b></div>
        </a>
        <div class="smaller inbar lfloat">
          {{ photo.title }} | {{ photo.album }}
          {% if user.is_authenticated and user.id == photo.author.id %}&nbsp;
            <a class="nodecor smaller edit" href="{% url my.views.edit_photo id=photo.id %}" title="{% trans 'Edit' %}"><b>{% trans 'Edit' %}</b></a>   
            <a class="nodecor smaller edit" href="{% url my.views.delete_photo id=photo.id %}" title="{% trans 'Delete' %}"><b>{% trans 'Delete' %}</b></a>
          {% endif %}
        </div>
      </div>
      <div id="viewcontent">
        <a class="nodecor" href="{% url my.views.get_photo id=photo.id %}" target="_blank">
          <img src="{{ photo.thumb_url }}=s800" title="{% trans 'Click to view full size' %}" alt="{{ v.title }}" />
        </a>
      </div>
    </div>
  </div>
  </td></tr>
  </table>
{% endfor %}
{% endblock %}
