{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}{% if album %}. {{ album }}{% endif %}, {% trans 'images, pictures, photos' %}{% endblock %}
{% block keywords %}, {% if album %}{{ album }}, {% endif %}{% trans 'images, pictures, photos' %}{% endblock %}
{% block title %}
{% if album %}{{ album }}{% else %}{% trans 'Photogallery' %}{% endif %} - {% trans 'images, pictures, photos' %} - {% endblock %}
{% block pagestyle %}
table.cont { padding: 10px 2px; }
#viewtab { visibility: hidden; position: fixed; left: 0; top: 0; background-color: rgba(100,100,100,0.8); }
#viewtab td div { color: rgba(255,255,255,0.8); text-align: center; font-size: 40pt; }
#viewcol { vertical-align: center; padding:0; width: 120px; }
#viewcol img {border:2px transparent solid} 
#viewcol img:hover {border:2px yellow solid}
#viewdiv { overflow: auto; }
.pan { padding:0 margin: 0; width: 100%; height: 100%; }
.albcont { padding: 10px; }
.photocont { max-width: 150px; }
.nav { fill: rgba(255,255,255,0.8); }
{% endblock %}
{% block myclass %}wrap{% endblock %}
{% block pageheader %}{% trans 'Photogallery' %}{% endblock %}
{% block content %}
<script src="/media/js/dbcartasvg.js"></script>
<script type="text/javascript">
{% if album %}

if(window.addEventListener) {
    window.addEventListener('load', function(){ viewchange(1); }, false);
} else {
   window.attachEvent('onload', function(){ viewchange(1); });
}

{% endif %}

function viewphoto(counter, photo_id, photo_title, photo_user_id){
	var vTab = document.getElementById('viewtab'),
    	vCont = document.getElementById('viewcont'),
    	vCol = document.getElementById('viewcol'),
    	vDiv = document.getElementById('viewdiv'),
       	thumbPhoto = document.getElementById('thumb' + counter);
  	var thumb, k=1;
  	// thumblist
  	while(thumb = document.getElementById('thumb'+k)){
    	var el2 = document.createElement('img');
    	el2.style.display = 'block';
    	el2.width = 100;
    	el2.id = '_' + thumb.id;
    	el2.title = thumb.title;
    	el2.src = thumb.src;
    	el2.onclick = function(){
      		vPhoto.id = '_' + this.id;
      		vPhoto.title = this.title;
      		vPhoto.src = this.src.substr(0, this.src.length-5);
    	};
    	el2.onload = function(){
    		var i;
    		for(i=0; i<vDiv.children.length; i++){
    			if (this.src == vDiv.children[i].src) break;
    		}
    		if (i==vDiv.children.length){
      			vDiv.style.maxHeight = vCol.offsetHeight + 'px';
      			vDiv.appendChild(this);
    		}
    	};
		k++;
  	}
	// add img
	var vPhoto = new Image();
	vPhoto.src = thumbPhoto.src.substr(0, thumbPhoto.src.length-5);
	vPhoto.id = '__' + thumbPhoto.id;
	vPhoto.title = thumbPhoto.title;
  	vPhoto.onload = function() {
		vTab.style.visibility = 'visible';
		if (!window.dw){
			dw = new dbCartaSvg({
				id:'viewcont',
				height: vCont.offsetHeight,
				bg: 'transparent',
				sbar: 0,
				sbarpos: 'left'
			});
			// close
		    var link = dw.append(dw.root, 'a', {});
		    link.setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'javascript:cl()');
		    link.setAttributeNS('http://www.w3.org/1999/xlink', 'title', "{% trans 'Close' %}");
		    var text = dw.append(link, 'text', {
		    	class: 'nav',
		    	x:dw.root.getAttribute('width'), y:0, dy:'0.8em', 
		    	'text-anchor': 'end'
		    });
		    text.appendChild(document.createTextNode('\u2715'));
	        // viewprev
		    dw.prevlink = dw.append(dw.root, 'a', {});
		    var text = dw.append(dw.prevlink, 'text', {
		    	class: 'nav',
		    	x:0, y:dw.root.getAttribute('height')/2, dy: '0.25em',
		    	'font-size':'200%',
		    	'text-anchor': 'start'
		    });
		    text.appendChild(document.createTextNode('\u2039'));
	        // viewnext
		    dw.nextlink = dw.append(dw.root, 'a', {});
		    var text = dw.append(dw.nextlink, 'text', {
		    	class: 'nav',
		    	x:dw.root.getAttribute('width'), y:dw.root.getAttribute('height')/2, dy:'0.25em',
		    	'font-size':'200%',
		    	'text-anchor': 'end'
		    });
		    text.appendChild(document.createTextNode('\u203A'));
            // viewfull
            dw.viewfull = dw.append(dw.root, 'a', {});
            dw.viewfull.setAttributeNS('http://www.w3.org/1999/xlink', 'title', "{% trans 'Click to view full size' %}");
		    var text = dw.append(dw.viewfull, 'text', {
		    	class: 'nav',
		    	x:dw.root.getAttribute('width'), y:dw.root.getAttribute('height'),
		    	'text-anchor': 'end'
		    });
		    text.appendChild(document.createTextNode('\u2922'));
		    // caption
		    dw.caption = dw.append(dw.root, 'text', {
		    	class: 'nav',
		    	x:dw.root.getAttribute('width')/2, y:dw.root.getAttribute('height'), dy:'-0.2em',
		    	'font-size': '10pt',
		    	'text-anchor': 'middle'
		    });
		    // img
	 	    dw.img = dw.append('image', {});
		    if ('{{ request.user.id }}' == photo_user_id || '{{ request.user.is_superuser }}'=='True') {
			    // viewedit
			    dw.viewedit = dw.append(dw.root, 'a', {});
			    var text = dw.append(dw.viewedit, 'text', {
			    	class: 'nav',
			    	x:0, y:0, dy:'0.8em', 
			    	'text-anchor': 'start'
			    });
			    text.appendChild(document.createTextNode('\u2710'));
			    // viewdel
			    dw.viewdel = dw.append(dw.root, 'a', {});
			    var text = dw.append(dw.viewdel, 'text', {
			    	class: 'nav',
			    	x:0, y:dw.root.getAttribute('height'),
			    	'text-anchor': 'start'
			    });
			    text.appendChild(document.createTextNode('\u2672'));
		    }
		}
		dw.prevlink.setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'javascript:viewchange(' + (-(Number(this.id.substr(7))-1)) + ')');
		dw.nextlink.setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'javascript:viewchange(' + (Number(this.id.substr(7))+1) + ')');
		dw.viewfull.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/photos/view/' + photo_id);
		if(dw.viewedit) dw.viewedit.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/photos/edit/' + photo_id);
		if(dw.viewdel) dw.viewdel.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/photos/del/' + photo_id);
		for(var i=0; i<dw.caption.childNodes.length; i++){ dw.caption.removeChild(dw.caption.childNodes[i]); }
		dw.caption.appendChild(document.createTextNode(this.title));
	    var ratio = this.width/this.height;
	    var crds = [[-90*ratio,90],[90*ratio,-90]],
	        pts = [dw.toPoints(crds[1]), dw.toPoints(crds[0])];
	    dw.img.setAttributeNS('http://www.w3.org/1999/xlink', 'href', this.src);
	    dw.attr(dw.img, {
		    width:  pts[0][0]-pts[1][0],
		    height: pts[0][1]-pts[1][1],
		    x: pts[1][0],
	    	y: pts[1][1],
	      	title: photo_title,
	      	cursor: 'pointer'
	    });
	}
}
function cl(){ document.getElementById("viewtab").style.visibility="hidden"; }
function viewchange(counter) {
    var nref = document.getElementById('thumbref' + String(Math.abs(counter)));
    if (nref) {
    	eval(nref.href.replace('javascript:',''));
    } else if (counter<=0 && {% if photos.has_previous %}1{% else %}0{% endif %}){
    	var nref = document.getElementById('pageprev');
    	if (nref) location.href = nref.href;    	
    } else if (counter>0 && {% if photos.has_next %}1{% else %}0{% endif %}){
    	var nref = document.getElementById('pagenext');
    	if (nref) location.href = nref.href;    	
    } else {
    	var nref = document.getElementById('thumbref1');
    	if (nref) eval(nref.href.replace('javascript:',''));
    };
}
</script>
<p>Подборка фотографий, снятых на телефон, о природе, местах, людях. Смотрите, добавляйте свои работы.</p>
{% if photos_count %}
  {% if album %}
    <p>Найдено <b>{{ photos_count }}</b> изображений в альбоме <b>{{ album }}</b>.</p>
  {% else %}
    <p>Найдено <b>{{ photos_count }}</b> альбомов.</p>
  {% endif %}
{% endif %}
  <div class="wrap">
{% if photos.object_list %}
    <table class="cont">
  {% for photo in photos.object_list %}
    {% if forloop.counter in rows_count %}<tr>{% endif %}
    {% if photos.has_previous %}
      <td>{% if forloop.counter == 1 %}
        <a id="pageprev" class="nodecor" href="{% if album %}{% url 'my.views.list_photos' id_album=photo.id %}{% else %}{% url 'my.views.list_photos' %}{% endif %}?page={{ photos.previous_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_prev.png' title="{% trans 'previous' %}" alt="{% trans 'previous' %}" /></a>
      {% endif %}</td>
    {% endif %}
      {% if album %}
        <td class="photocont" align="center">
          <a id="thumbref{{ forloop.counter }}" class="nodecor" href="javascript:viewphoto({{ forloop.counter }},{{ photo.id }},'{{ photo.title }}','{{ photo.author.id }}');">
            <img id="thumb{{ forloop.counter }}" src="{{ photo.thumb_url }}=s128" title="{{ photo.title }}" alt="{{ photo.title }}"/><br/>
            <span class="gray smaller">{{ photo.title }}</span></a>
        </td>
      {% else %}
        <td class="albcont" align="center" valign="bottom">
          <a class="nodecor" href="{% url 'my.views.list_photos' id_album=photo.id %}">
            <img id="thumb{{ forloop.counter }}" src="{{ photo.thumb_url }}=s256" title="" alt="{{ photo.album }}"/><br/>
          {{ photo.album }}</a><span class="smaller"> [{{ photo.album_count }}]</span><br/>
            <span class="gray smaller">{{ photo.date|time_since }}</span>
        </td>
      {% endif %}        
    {% if photos.has_next %}
      <td>{% if forloop.revcounter == 1 %}
        <a id="pagenext" class="nodecor" href="{% if album %}{% url 'my.views.list_photos' id_album=photo.id %}{% else %}{% url 'my.views.list_photos' %}{% endif %}?page={{ photos.next_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_next.png' title="{% trans 'next' %}" alt="{% trans 'next' %}" /></a>
      {% endif %}</td>
    {% endif %}
  {% endfor %}
    </table>
{% else %}
  <p>{% trans 'No photos' %}.</p>
{% endif %}
  </div>
{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'my.views.add_photo' %}">{% trans 'Add photo' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to upload photos' %}.</p>
{% endif %}
<!-- viewphoto -->
<table id="viewtab" class="pan">
<tr>
<td id="viewcol">
  <div id="viewdiv"></div>
</td>
<td id="viewcont"></td>
</tr>
</table>
<!-- /viewphoto -->
{% endblock %}
