{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<title>{{ photo.title }} - {{ photo.album }}, {% trans 'photos, images, pictures' %} - {% trans 'Egax Portal' %}</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
<style type="text/css">
.viewcontent { text-align: center; }
.viewcontent img { max-width: 100%; }
</style>
</head>
<body>
<div class="viewcontent">
<img src="{% if not photo.memberonly or request.user.is_superuser%}{% url 'my.views.get_photo' id=photo.id %}{% endif %}" title="{{ photo.title }}" alt="{{ photo.title }}"/>
</div>
</body>
</html>
