{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block description %}{% trans 'Posts and notes' %} {% endblock %}
{% block keywords %}{% trans 'Posts and notes' %}, {% endblock %}
{% block title %}{% if subject.subject %}{{ subject.subject }}{% else %}{% trans 'Posts and notes' %}{% endif %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block postsclass %}wrap3{% endblock %}
{% block content %}
{% if subject.subject %}
  <p><h2 class="nomarg"><a class="nodecor" href="{% url 'posts.views.list_posts' id_subj=subject.id %}"><span class="hspace">{{ subject.subject }} </span></a></h2></p>
{% else %}
  <p class="hspace">Читайте, пишите заметки, оставляйте комментарии.</p>
{% endif %}
{% if request.user.is_authenticated %}
  <p>
    <form action="{% url 'posts.views.edit_post' id=form.initial.id %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form }}
       <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller hspace">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
{% endblock %}
