{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load customfilters %}
{% block description %}{% with posts.object_list|first as f %}{{ f.content|markdown:"codehilite,extra"|striptags|truncatewords:"30" }}{% endwith %} {% endblock %}
{% block keywords %}{% if subject.title %}{{ subject.title }}, {% endif %}{% if subject.subject %}{{ subject.subject }}, {% endif %}{% trans 'posts' %}, {% endblock %}
{% block title %}{% if subject.title %}{{ subject.title }} - {% endif %}{% if subject.subject %}{{ subject.subject }}, {% trans 'posts' %}{% else %}{% trans 'Posts' %}{% endif %} - {% endblock %}
{% block pagestyle %}
.subtitle { display: block; margin: 4px; }
{% endblock %}
{% block postsclass %}wrap3{% endblock %}
{% block pagescript %}
{% if subject.title %}{% endif %}
{% endblock %}	
{% block pagestylelink %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/syntax.css" />
{% endblock %}
{% block content %}

{% if subject.subject %}
  <p><h2 class="nomarg"><a class="nodecor" href="{% url 'posts.views.list_posts' id_subj=subject.id %}"><span class="hspace">{{ subject.subject }} </span></a></h2></p>
{% endif %} 

{% if subject.subject %}
  {% if posts_title|length > 1 %}
    <div class="wrap">
      <div class="msgtext">
        <a class="nodecor" href="#" onclick="if(document.getElementById('posttitle').style.display=='none') { document.getElementById('posttitle').style.display = ''; } else { document.getElementById('posttitle').style.display = 'none'; } return false;">Содержимое</a>
           [{{ posts_title|length }}]
        <div id="posttitle" style="display:none">
          {% for title, post_id in posts_title %}
            {% if forloop.counter == 1 %}<br>{% endif %}
            <div class="subtitle"> 
              <a class="nodecor" href="{% url 'posts.views.list_posts' id=post_id %}">{{ title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  <p class="mtext hspace">Заметки, статьи, цитаты на самые разные темы.</p>
{% endif %}

{% for post in posts.object_list %}
  <div class="wrap">
    <a id="id{{ post.id }}" name="id{{ post.id }}"></a>
    <div class="msgtext">
      {% if post.title %}<h3><a class="nodecor" href="{% url 'posts.views.list_posts' id=post.id %}">{{ post.title }}</a></h3>{% endif %}
      {{ post.content|markdown:"codehilite,extra" }}
    </div>
    <div class="msgfooter">
      {% if not subject.subject and post.subject %}
        <a class="nodecor" href="{% url 'posts.views.list_posts' id_subj=post.subject.id %}">{{ post.subject.subject|escape }}</a>
      {% endif %}
      <div class="gray">
        {% if post.author %}
          <a class="nodecor hspace" href="{% url 'posts.views.user_profile' id=post.author.id %}">{{ post.author.username }}</a>
        {% endif %}
        {% if post.date %}
          <acronym title="{{ post.date }}">{{ post.date|time_since }}</acronym>
        {% endif %}
        {% if request.user.is_authenticated and request.user.id == post.author.id or request.user.is_superuser %}
          <a class="nodecor hspace2" href="{% url 'posts.views.edit_post' id=post.id %}">{% trans 'Edit' %}</a>
          <a class="nodecor" href="{% url 'posts.views.delete_post' id=post.id %}{% if subject.subject %}?id_subj={{ post.subject.id }}{% endif %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

{% if posts.object_list %}

  <p class="mtext cfloat">
  {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">‹ {% trans 'previous' %}</a>
  {% elif posts.has_next %}
    <span class="lightgray">‹ {% trans 'previous' %}</span>
  {% endif %}
  {% if posts.paginator.num_pages > 1 %}
    <span class="hspace2"><b>{{ posts.number }}</b> {% trans 'of' %} <b>{{ posts.paginator.num_pages }}</b></span>
  {% endif %}
  {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">{% trans 'next' %} ›</a>
  {% elif posts.has_previous %}
    <span class="lightgray">{% trans 'next' %} ›</span>
  {% endif %}
  </p>

  <p class="mtext hspace"><a href="{% url 'posts.views.list_subjects' %}">{% trans 'All subjects' %}</a></p>

{% else %}

  <p class="mtext hspace">{% trans 'No posts' %}.</p>

{% endif %}

<p>
  <form action="{% url 'posts.views.add_post' %}" method="post">{% csrf_token %}
{% if request.user.is_authenticated %}
    <table class="mtext formpost">
      {{ form_subject }}{{ form }}
      <tr><th></th><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="" align="right">{% trans 'Support syntax' %} <a class="nodecor" title="Описание разметки Markdown" href="/posts/subj/77003">Markdown</a></td></tr>
        </table>
      </td></tr>
    </table>
{% else %}
  <p class="mtext hspace">{% trans 'Please authorize to post messages' %}</p>
{% endif %}
  </form>
</p>

{% if subject.title %}{% endif %}

{% endblock %}
