{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load myfilter %}
{% block description %}. {% if subject.title %}{{ subject.title }}, {% endif %}{% if subject.subject %}{{ subject.subject }}, {% endif %}{% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block keywords %}, {% if subject.title %}{{ subject.title }}, {% endif %}{% if subject.subject %}{{ subject.subject }}, {% endif %}{% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block title %}{% if subject.title %}{{ subject.title }} - {% endif %}{% if subject.subject %}{{ subject.subject }}{% else %}{% trans 'Posts and notes' %}{% endif %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block pagestyle %}
.messageblock { font-size: 70%; text-align: right; }
{% endblock %}
{% block postsclass %}wrap{% endblock %}
{% block pagescript %}
{% if subject.title %}
<!--google+ comments-->
<script src="https://apis.google.com/js/plusone.js"></script>
<!--/google+ comments-->
{% endif %}
{% endblock %}	
{% block pagestylelink %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/syntax.css" />
{% endblock %}
{% block pageheader %}{% if subject.subject %}{{ subject.subject }}{% else %}{% trans 'Posts and notes' %}{% endif %}{% endblock %}
{% block content %}
{% for post in posts.object_list %}
  <div class="wrap messagebox">
    <a id="id{{ post.id }}" name="id{{ post.id }}"></a>
    <div class="messagetext">
      {% if post.title %}<h3><a class="nodecor" href="{% url 'posts.views.list_posts' id=post.id %}">{{ post.title }}</a></h3>{% endif %}
      {{ post.content|markdown:"codehilite,extra" }}
    </div>
    <div class="messageblock">
      {% if post.subject %}
        <div><a class="nodecor" href="{% url 'posts.views.list_posts' id_subj=post.subject.id %}">{{ post.subject.subject|escape }}</a></div>
      {% endif %}
      <div class="gray">
        {% if post.author %}
          <a class="nodecor" href="{% url 'posts.views.get_user_profile' id=post.author.id %}">{{ post.author.username }}</a> {% trans 'wrote' %}
        {% else %}
          {% trans 'An anonymous person' %} {% trans 'wrote' %}
        {% endif %}
        <acronym title="{{ post.date }}">{{ post.date|time_since }}</acronym> {% trans 'ago' %}
        {% if request.user.is_authenticated and request.user.id == post.author.id or request.user.is_superuser %}
          <a class="nodecor" href="{% url 'posts.views.edit_post' id=post.id %}">{% trans 'Edit' %}</a>
          <a class="nodecor" href="{% url 'posts.views.delete_post' id=post.id %}{% if subject.subject %}?id_subj={{ post.subject.id }}{% endif %}">{% trans 'Delete' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% if posts.object_list %}
  <p class="smaller">
  {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">‹ {% trans 'previous' %}</a>
  {% endif %}
  {% if posts.paginator.num_pages > 1 %}
    <span class="hspace2">
      {% trans 'Page' %} {{ posts.number }} {% trans 'of' %} {{ posts.paginator.num_pages }}
    </span>
  {% endif %}
  {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">{% trans 'next' %} ›</a>
  {% endif %}
  </p>
{% else %}
  <p>{% trans 'No posts' %}.</p>
{% endif %}
{% if request.user.is_authenticated %}
  <p>
    <form action="{% url 'posts.views.add_post' %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form_subject }}{{ form }}
      <tr><th></th><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="smaller" align="right">{% trans 'Support syntax' %} <b>Markdown</b></td></tr>
        </table>
      </td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
{% if subject.title %}
<!--google+ comments-->
<div id="comments"></div>
<script>
gapi.comments.render('comments', {
    href: window.location,
    width: '640',
    first_party_property: 'BLOGGER',
    view_type: 'FILTERED_POSTMOD'
});
</script>
<!--/google+ comments-->
{% endif %}
{% endblock %}
