{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load myfilter %}
{% block description %}{% trans 'Posts and notes' %} {% endblock %}
{% block keywords %}{% trans 'notes' %}, {% trans 'posts' %}, {% endblock %}
{% block title %}{% trans 'Posts and notes' %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block postsclass %}wrap3{% endblock %}
{% block pageheader %}{# trans 'Posts and notes' #}{% endblock %}
{% block content %}

<p class="mtext hspace">Выберите одну из тем статей:</p>

{% if subjects.object_list %}

  {% for subj in subjects.object_list %}
    {% if subj.subject %}
      <div class="wrap">
      <dl class="msgtext"><dt>
        <a class="nodecor" href="{% url 'posts.views.list_posts' id_subj=subj.id %}">
          {{ subj.subject|escape }} </a><span class="smaller"> [{{ subj.count }}]</span></dt>
        <dd class="smaller">
          <acronym title="{{ subj.date }}">{{ subj.date|time_since }}</acronym> {% trans 'ago' %} {% trans 'ago' %}
        </dd>
      </dl>
      </div>
    {% endif %}
  {% endfor %}
  
  <p class="hspace"><a href="{% url 'posts.views.list_posts' %}">Все статьи</a></p>

{% endif %}

{% if subjects.object_list %}

  <p class="hspace">
    {% if subjects.has_previous %}
      <a href="?page={{ subjects.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% elif subjects.has_next %}
      <span class="lightgray">‹ {% trans 'previous' %}</span>
    {% endif %}
    {% if subjects.paginator.num_pages > 1 %}
      <span class="hspace2">{{ subjects.number }} {% trans 'of' %} {{ subjects.paginator.num_pages }}</span>
    {% endif %}
    {% if subjects.has_next %}
      <a href="?page={{ subjects.next_page_number }}">{% trans 'next' %} ›</a>
    {% elif subjects.has_previous %}
      <span class="lightgray">{% trans 'next' %} ›</span>
    {% endif %}
  </p>

{% else %}

  <p class="mtext hspace">{% trans 'No subjects' %}.</p>

{% endif %}

<p>
  <form action="{% url 'posts.views.add_post' %}" method="post">{% csrf_token %}
{% if request.user.is_authenticated %}
    <table class="mtext formpost">
      {{ form_subject }}{{ form }}     
      <tr><th></th><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="" align="right">{% trans 'Support syntax' %} <b>Markdown</b></td></tr>
        </table>
      </td></tr>
    </table>
{% else %}
  <p class="hspace">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
  </form>
</p>

{% endblock %}
