a {    
    text-decoration: none;
    font-weight:normal;
}
h1,h2 {font-size: 1.5em; }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 0 0.2em 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    /*background-color: #F1F1F1;*/
    display: block;
    font-size: 1.0em;
    font-style: normal;
    font-weight: bold;
    /*line-height: 1*/;
    text-align: left;
    /*border: Silver solid 1px;*/
    margin: 0 0 0.5em 0
    }
.calibre3 {
    color: Black;
    display: block;
 /*   height: 2px; */
    border: currentColor inset 0px;
    margin: 0.5em auto
    }
.calibre4 {
/*    background-color: #F4F4F4;*/
    display: block;
    font-size: 1.0em;
/*     font-style: italic; */
    /*font-weight: bold;*/
    text-align: left;
/*    border: Gray solid 1px;*/
    margin: 0 0 0.5em 0
    }
.calibre5 {
    /*background-color: #E7E7E7;*/
    display: block;
    font-size: 1.0em;
    font-style: normal;
    /*font-weight: bold;*/
    /*line-height: 1;*/
    text-align: left;
    /*border: Black solid 1px;*/
    margin: 0 0 0.5em 0
    }
.calibre6 {
    display: block;
    font-size: 1.0em;
    /*line-height: 1*/
    }
.calibre7 {
    /*display: block;*/
    /*text-align: center*/
    }
.calibre8 {
    height: auto;
    width: auto
    }
.calibre9 {
    line-height: 1
    }
.calibre10 {
    font-style: italic;
    /*line-height: 1*/
    }
.calibre11 {
    /*font-size: 0.75em;*/
    /*line-height: normal;*/
    /*vertical-align: sub*/
    }
.calibre12 {
    /*font-size: 0.75em;*/
    /*line-height: normal;*/
    /*vertical-align: super*/
    }
.calibre13 {
    display: block;
/*    margin: 1em 0.2em 1em 4em*/
    }
.calibre14 {
    font-style: italic
    }
.epigraph {
    display: block;
    font-style: italic;
    width: 75%;
/*    margin: 1em 0.2em 1em 25%*/
    }
.paragraph {
    display: block;
    text-indent: 2em
    }
.subtitle {
    background-color: #F4F4F4;
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border: Gray solid 1px;
    margin: 0 0 0.5em 0
    }
