{% extends 'base.html' %}
{% load i18n %}
{% load filetransfers %}
{% block description %}{% trans 'Add book' %} {% endblock %}
{% block keywords %}{% trans 'Add book' %}, {% endblock %}
{% block title %}{% trans 'Add book' %} - {% trans 'books' %} - {% endblock %}
{% block pagestyle %}
#id_title { width:100%; }
{% endblock %}
{% block booksclass %}wrap rounded6{% endblock %}
{% block pageheader %}{# trans 'Add book' #}{% endblock %}
{% block content %}
<p class="hspace">Добавляйте свои тексты книг. </p>
  <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
  {% render_upload_data upload_data %}
{% if request.user.is_authenticated %}
    <table class="formpost">
      {{ form_wrt }}{{ form }}{{ form_subj }}
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
{% else %}
  <p class="hspace">{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
  </form>
{% endblock %}
