{% extends 'base.html' %}
{% load i18n %}
{% load filetransfers %}
{% block keywords %}, {% trans 'books' %}{% endblock %}
{% block title %}{% trans 'Add book' %} - {% trans 'books' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.bookmenu { border: 1px solid rgb(200,220,230); }
#id_title { width:100%; }
{% endblock %}
{% block pageheader %}{% trans 'Add book' %}{% endblock %}
{% block content %}
<p>Добавляйте свои тексты книг по главам или частям. </p>
  <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
  {% render_upload_data upload_data %}
{% if request.user.is_authenticated %}
    <table class="formpost">
      {{ form_wrt }}{{ form }}{{ form_subj }}
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
{% else %}
  <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
  </form>
{% endblock %}
