{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}{% if book_count %}. {% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}, {% trans 'books' %}{% endblock %}
{% block keywords %}{% if book_count %}, {% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}, {% trans 'books' %}{% endblock %}
{% block title %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if book_count and not search_count %}{% if subject %}{{ subject }}{% else %}{% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}{% endif %}
{% if not book_count and not search_count %}{% trans 'Books' %}{% endif %}
 - {% trans 'books' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.bookmenu { border: 1px solid rgb(200,220,230); }
.indexlist { text-align: center; background-color: #f0f0f0; padding: 2px 8px; border-radius: 2px; font-size: 70%; }
.messageitem { min-height: 2em; padding: 0 10px; margin: 0px; }
.messageitem dt { padding: 5px 0 5px 0; border-bottom: 1px solid #ddd; }
.messageitem dd { padding-bottom: 5px; color: gray; }
table.cont { width: 100%; border-collapse: collapse; }
table.cont td.cont { text-align: left; vertical-align: top; }
table.cont td.cont .bbar { padding: 10px 20px; }
table.cont td.prev { text-align: left; width: 32px; }
table.cont td.next { text-align: right; width: 32px; }
table.cont td.cover { text-align: center; width: 140px; }
#id_search { height: 12px; margin-left: 10px; }
{% endblock %}
{% block pageheader %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if book_count and not search_count %}{% if subject %}{{ subject }}{% else %}{% with books.object_list|first as f %}<a class="nodecor" href="{% url 'books.views.list_books' id_wrt=f.writer.id %}">{{ f.writer.writer }}</a>{% endwith %}{% endif %}{% endif %}
{% if not book_count and not search_count %}{% trans 'Library' %}{% endif %}
{% endblock %}
{% block content %}
<div class="indexlist">
  <a class="hspaced" href="{% url 'books.views.list_wrt' %}">{% trans 'Full list' %}</a>
  {% for i, v in wrt_index.items %}
    <a class="nodecor hspaced" href="{% url 'books.views.list_wrt' ind_wrt=i %}">{{ v|capfirst }}</a>
  {% endfor %}
  <form class="search" action="{% url 'books.views.list_books' %}" method="get">{% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="{% trans 'Search' %}" />
  </form>
</div>
<p>
Коллекция электронных книг различных жанров отечественных и зарубежных авторов. 
Все тексты взяты из свободных источников и представлены исключительно для ознакомления.
</p>
{% if book_count or wrt_count %}
  <p>Найдено {% if wrt_count %}<b>{{ wrt_count }}</b> писателей{% endif %}{% if book_count %}<b> {{ book_count }}</b> книг{% endif %}.</p>
{% endif %}

{% if books.object_list %}

  <table class="cont">
{% if book_count and not wrt_count %}
  {% for book in books.object_list %}
    {% if forloop.counter in rows_count %}<tr>{% endif %}
    {% if books.has_previous %}
      <td class="prev">{% if forloop.counter == 1 %}
        <a id="pageprev" class="nodecor" href="{% if subject %}{% url 'books.views.list_books' id_subj=book.subject.id %}{% else %}{% url 'books.views.list_books' id_wrt=book.writer.id %}{% endif %}?page={{ books.previous_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_prev.png' title="{% trans 'previous' %}" alt="{% trans 'previous' %}" /></a>
      {% endif %}</td>
    {% endif %}
  	  <td class="cover">
	    <a id="thumbref{{ forloop.counter }}" class="nodecor" href="{% url 'books.views.read_book' ind=book.index part=book.part %}">
	      <img id="thumb{{ forloop.counter }}" src="{{ book.thumb_url }}=s160" title="{{ book.title }}" alt="{{ book.title }}"/><br/>
	      <div class="gray smaller">{{ book.title }}</div></a>
	   </td>
	   <td class="cont">
	     <div class="smaller">{{ book.content }}</div>
	     <div class="bbar smaller">
	       <a class="nodecor hspace2" href="{% url 'books.views.get_file' ind=book.index %}">Скачать</a>&nbsp;
	       <a class="nodecor hspace2" href="{% url 'books.views.read_book' ind=book.index part=book.part %}">Читать</a>
	     </div>
	   </td>        
    {% if books.has_next %}
      <td class="next">{% if forloop.revcounter == 1 %}
        <a id="pagenext" class="nodecor" href="{% if subject %}{% url 'books.views.list_books' id_subj=book.subject.id %}{% else %}{% url 'books.views.list_books' id_wrt=book.writer.id %}{% endif %}?page={{ books.next_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_next.png' title="{% trans 'next' %}" alt="{% trans 'next' %}" /></a>
      {% endif %}</td>
    {% endif %}
  {% if forloop.revcounter == 1 %}  
    {% if books.paginator.num_pages > 1 %}
      <tr><td class="smaller" align="center" colspan="10">
        {% trans 'Page' %} {{ books.number }} {% trans 'of' %} {{ books.paginator.num_pages }}
      </td></tr>
    {% endif %}
  {% endif %}
  {% endfor %}

{% else %}

  <tr>
{% if subjects.object_list %}
  <td valign="top" width="30%">Жанры:
    <dl class="messageitem">
{% for subj in subjects.object_list %}
    <dt><a class="nodecor" href="{% url 'books.views.list_books' id_subj=subj.id %}">{{ subj.subject }}</a>
      <span class="smaller">[{{ subj.count }}]</span></dt>
{% endfor %}
    </dl>
  </td>
{% endif %}
  <td valign="top">
{% if last_count %}
  Последние добавления:
{% endif %}
{% for book in books.object_list %}
  <dl class="messageitem"><dt>
  {% if wrt_count %}
    <a class="nodecor" href="{% url 'books.views.list_books' id_wrt=book.id %}">{{ book.writer.writer }}</a>
  {% endif %}
  {% if last_count or search_count%}
  <ul class="inl nopad nomarg">
    <li class="gray"><img id="thumb{{ forloop.counter }}" src="{{ book.thumb_url }}=s80" title="{{ book.title }}" alt="{{ book.title }}"/></li>
    <li>&nbsp;<a class="nodecor" href="{% url 'books.views.list_books' id_wrt=book.writer.id %}">{{ book.writer.writer }}</a></li>
  {% endif %}
  {% if book.count %}
    <span class="smaller">[{{ book.count }}]</span>
  {% else %}
    <a href="{% url 'books.views.read_book' ind=book.index part=book.part %}">{{ book.title|escape }}</a>
  {% endif %}
  </dt>
  {% if last_count %}
    <dd class="smaller">{{ book.date|time_since }} {% trans 'ago' %}</dd>
  {% endif %}
  </dl>
{% endfor %}
  </td>
{% if books.object_list %}
  <p class="smaller">
    {% if books.has_previous %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ books.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% endif %}
    {% if books.paginator.num_pages > 1 %}
      <span class="current">
        {% trans 'Page' %} {{ books.number }} {% trans 'of' %} {{ books.paginator.num_pages }}
      </span>
    {% endif %}
    {% if books.has_next %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ books.next_page_number }}">{% trans 'next' %} ›</a>
    {% endif %}
  </p>
{% endif %} 
{% endif %}
  </tr>
  </table>
{% else %}
  <p>{% trans 'No books' %}.</p>
{% endif %}

{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'books.views.add_book' %}">{% trans 'Add book' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to add and download books' %}.</p>
{% endif %}
{% endblock %}
