{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}{% if book_count %}. {% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}, {% trans 'books' %}{% endblock %}
{% block keywords %}{% if book_count %}, {% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}, {% trans 'books' %}{% endblock %}
{% block title %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if book_count and not search_count %}{% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}
{% if not book_count and not search_count %}{% trans 'Books' %}{% endif %}
 - {% trans 'books' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.bookmenu { border: 1px solid rgb(200,220,230); }
.indexlist { text-align: center; background-color: #f0f0f0; padding: 2px 8px; font-size: 70%; }
.messageitem { background-color: #ffffff; min-height: 2em; padding: 0 10px; margin: 0px; }
.messageitem dt { padding: 5px 0; }
.messageitem dd { padding-bottom: 5px; color: gray; }
table.cont { width: 100%; border-collapse: collapse; }
table.cont td { text-align: left; vertical-align: top; }
#id_search { height: 12px; margin-left: 10px; }
input.submit { height: 26px; margin-left: 5px;}
{% endblock %}
{% block pageheader %}
{% if search_count %}{% trans 'Search result' %}{% endif %}
{% if book_count and not search_count %}{% with books.object_list|first as f %}{{ f.writer.writer }}{% endwith %}{% endif %}
{% if not book_count and not search_count %}{% trans 'Library' %}{% endif %}
{% endblock %}
{% block content %}
<div class="indexlist">
  <a href="{% url 'books.views.list_wrt' %}">{% trans 'Full list' %}</a>
  {% for i, v in wrt_index.items %}
    <a class="nodecor" href="{% url 'books.views.list_wrt' ind_wrt=i %}">{{ v|capfirst }}</a>
  {% endfor %}
  <form class="search" action="{% url 'books.views.list_books' %}" method="get">{% csrf_token %}
    {{ form }}
    <input class="submit" type="submit" value="{% trans 'Search' %}" />
  </form>
</div>
<p>
Коллекция электронных книг различных жанров отечественных и зарубежных авторов. 
Все тексты взяты из свободных источников и представлены исключительно для ознакомления.
</p>
{% if wrt_count %}
  <p>Найдено {% if wrt_count %}<b>{{ wrt_count }}</b> писателей{% endif %}{% if book_count %} и <b>{{ book_count }}</b> книг{% endif %}.</p>
{% endif %}

{% if books.object_list %}

  <table class="cont">
{% if book_count and not wrt_count %}
  {% for book in books.object_list %}
    {% if forloop.counter in rows_count %}<tr>{% endif %}
    {% if books.has_previous %}
      <td>{% if forloop.counter == 1 %}
        <a id="pageprev" class="nodecor" href="{% url 'books.views.list_books' id_wrt=book.writer.id %}?page={{ books.previous_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_prev.png' title="{% trans 'previous' %}" alt="{% trans 'previous' %}" /></a>
      {% endif %}</td>
    {% endif %}
  	  <td class="bookcont" align="center" width="25%">
	    <a id="thumbref{{ forloop.counter }}" class="nodecor" href="{% url 'books.views.get_book' ind=book.index part=book.part %}">
	      <img id="thumb{{ forloop.counter }}" src="{{ book.thumb_url }}=s128" title="{{ book.title }}" alt="{{ book.title }}"/><br/>
	      <div class="pink smaller">{{ book.writer.writer }}</div></a>
	      <div class="gray smaller">{{ book.title }}</div></a>
	      <div>{% if book.file and request.user.is_authenticated %}<a class="gray smaller" href="{% url 'books.views.get_file' id=book.id %}">Скачать</a>{% else %}<br/>{% endif %}</div>
	  </td>        
    {% if books.has_next %}
      <td>{% if forloop.revcounter == 1 %}
        <a id="pagenext" class="nodecor" href="{% url 'books.views.list_books' id_wrt=book.writer.id %}?page={{ books.next_page_number }}">
          <img src='{{ MEDIA_URL }}img/s_next.png' title="{% trans 'next' %}" alt="{% trans 'next' %}" /></a>
      {% endif %}</td>
    {% endif %}
  {% endfor %}

{% else %}

  <tr>
{% if subjects.object_list %}
  <td valign="top" width="30%">
  Жанры:
    <dl class="messageitem">
{% for subj in subjects.object_list %}
    <dt><a href="{% url 'books.views.list_books' id_subj=subj.id %}">{{ subj.subject }}</a>
      <span class="smaller">[{{ subj.count }}]</span></dt>
{% endfor %}
    </dl>
  </td>
{% endif %}
  <td valign="top">
{% if last_count %}
  Последние добавления:
{% endif %}
{% for book in books.object_list %}
  <dl class="messageitem"><dt>
  {% if wrt_count %}
    <a href="{% url 'books.views.list_books' id_wrt=book.id %}">{{ book.writer.writer }}</a>
  {% endif %}
  {% if last_count or search_count%}
    <a href="{% url 'books.views.list_books' id_wrt=book.writer.id %}">{{ book.writer.writer }}</a>
  {% endif %}
  {% if book.count %}
    <span class="smaller">[{{ book.count }}]</span>
  {% else %}
    <a href="{% url 'books.views.get_book' ind=book.index part=book.part %}">{{ book.title|escape }}</a>
  {% endif %}
  </dt>
  {% if last_count %}
    <dd class="smaller">{{ book.date|time_since }} {% trans 'ago' %}</dd>
  {% endif %}
  </dl>
{% endfor %}
  </td>
{% if books.object_list %}
  <p class="smaller">
    {% if books.has_previous %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ books.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% endif %}
    {% if books.paginator.num_pages > 1 %}
      <span class="current">
        {% trans 'Page' %} {{ books.number }} {% trans 'of' %} {{ books.paginator.num_pages }}
      </span>
    {% endif %}
    {% if books.has_next %}
      <a href="?{% if request.GET.search %}search={{ request.GET.search|urlencode }}&{% endif %}page={{ books.next_page_number }}">{% trans 'next' %} ›</a>
    {% endif %}
  </p>
{% endif %} 
{% endif %}
  </tr>
  </table>
{% else %}
  <p>{% trans 'No books' %}.</p>
{% endif %}

{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'books.views.add_book' %}">{% trans 'Add book' %}</a></p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to add and download books' %}.</p>
{% endif %}
{% endblock %}
