{% extends 'base.html' %}
{% load i18n %}
{% load filetransfers %}
{% block description %}{% trans 'Edit book' %} {% endblock %}
{% block keywords %}{% trans 'Edit book' %}, {% endblock %}
{% block title %}{% trans 'Edit book' %} - {% trans 'books' %} - {% endblock %}
{% block pagestyle %}
#id_writer { color: #c8c8c8; }
#id_title { width:100%; }
{% endblock %}
{% block booksclass %}wrap{% endblock %}
{% block pageheader %}{# trans 'Edit book' #}{% endblock %}
{% block content %}
<p>Добавляйте тексты.</p>
  <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
  {% render_upload_data upload_data %}
{% if request.user.is_authenticated %}
    <table class="formpost">
      {{ form }}
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
{% else %}
  <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
  </form>
{% endblock %}
