{% extends 'base.html' %}
{% load i18n %}
{% load customfilters %}
{% block description %}Жанры, {% trans 'books' %} {% endblock %}
{% block keywords %}Жанры, {% trans 'books' %}, {% endblock %}
{% block title %}
Жанры - {% trans 'books' %} - {% endblock %}
{% block booksclass %}wrap3{% endblock %}
{% block pageheader %}
{% endblock %}
{% block content %}

<p class="mtext hspace">Список жанров книг:</p>

{% if subjects.object_list %}
  {% for subj in subjects.object_list %}
    <div class="wrap">
      <dl class="msgtext tabl"><dt class="lfloat minw">
        <a class="nodecor" href="{% url 'books.views.list_books' tr_subj=subj.tr_subj id_subj=subj.id %}">
          {{ subj.subject }} </a></dt>
        <dt>&nbsp;<b>{{ subj.count }}</b>&nbsp;</dt>
        <div class="gray smaller">{% trans subj.subject%}</div>
      </dl>
    </div>
  {% endfor %}
{% else %}
  <p class="mtext hspace">{% trans 'No books' %}.</p>
{% endif %}

<p class="mtext hspace">
{% if request.user.is_authenticated %}
  <a href="{% url 'books.views.add_book' %}">{% trans 'Add book' %}</a>
{% else %}
  {% trans 'Please authorize to add books' %}
{% endif %}
</p>

{% endblock %}
