{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}
{% block description %}Жанры, {% trans 'books' %} {% endblock %}
{% block keywords %}Жанры, {% trans 'books' %}, {% endblock %}
{% block title %}
Жанры - {% trans 'books' %} - {% endblock %}
{% block booksclass %}wrap{% endblock %}
{% block pageheader %}
{% endblock %}
{% block content %}

<p>
Коллекция книг различных жанров отечественных и зарубежных авторов из свободных источников.
</p>
<p> Список жанров: </p>

{% if subjects.object_list %}
  {% for subj in subjects.object_list %}
    <div class="wrap">
    <dl class="msgtext"><dt>
      <a class="nodecor" href="{% url 'books.views.list_books' id_subj=subj.id %}">
        {% trans subj.subject%} </a><span class="smaller"> [{{ subj.count }}]</span>
        <div class="gray smaller">{{ subj.subject }}</div></dt>
      </dl>
    </div>
  {% endfor %}
{% else %}
  <p>{% trans 'No books' %}.</p>
{% endif %}

{% if request.user.is_authenticated %}
  <p class="smaller"><a href="{% url 'books.views.add_book' %}"><span class="hspace">{% trans 'Add book' %}</span></a></p>
{% else %}
  <p class="smaller"><span class="hspace">{% trans 'Please authorize to add books' %}.</span></p>
{% endif %}

{% endblock %}
