<!DOCTYPE html>
<html>
<head>{% load i18n %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>{% block title %}{% endblock %}Портал Григория Еремина</title>
<meta name="description" content="{% block description %}{% endblock %}"/>
<meta name="keywords" content="{% block keywords %}{% endblock %}Портал Григория Еремина, тексты, фото, статьи, заметки"/>
<meta name="author" content="Grigoriy Eremin, Григорий Еремин, egax@bk.ru">
<meta name="google-site-verification" content="tDIIwt3nNSOeRwaSbOPKjWIuVvKvi6E7YCLV_WOnCqE" />
<meta name='yandex-verification' content='5b93c57666b143ad' />
<link rel='shortcut icon' href='{{ MEDIA_URL }}img/favicon.ico?1322400151' />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
{% block pagestylelink %}{% endblock %}
<style type="text/css">
#main_header { display: table; height: 140px; }
#main_header div { display: table-cell; vertical-align: middle; }
#main_content .view { min-height: 450px; }
#main_footer { height: 40px; text-align: center; }
#top_logo { min-width: 160px; max-width: 160px; text-align: center; }
#top_nav { min-width: 140px; max-width: 140px; text-align: center; }
#top_ban { text-align: center; margin-top: 5px; width: 480px; height: 50px; }
#top_menu {  }
#top_menu ul { padding: 10px 0; display: table; width: 100%; max-width: 100%; }
#top_menu ul li { padding: 15px 10px 15px; display: table-cell; text-align: center; width: 10%; }
#top_menu ul li a { height: 40px; display: table; width: 100%; }
#top_menu ul li span { display: table-row; vertical-align: middle; }
{% block pagestyle %}{% endblock %}
</style>
<!--Google counter-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-25857345-2', 'egaxegax.appspot.com');
  ga('send', 'pageview');
</script>
<!--/Google counter-->
{% block pagescript %}{% endblock %}
</head>
<body class="nomarg">
<div id="main_header" class="main wrapbg">
  <div id="top_logo">
    <a class="nodecor" href="/">
      <img src="{{ MEDIA_URL }}img/egax-logo.png" title="{% trans 'Egax Portal' %}" alt="{% trans 'Egax Portal' %}"/>
    </a>
  </div>
  <!-- div id="top_ban">
    <!--Banner-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- eg1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2243951601941043"
       data-ad-slot="2646603557"
       data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!--/Banner-->
  </div-->
  <div id="top_menu" class="main">
    <ul class="inl nomarg">
      <li class="{% block aboutsclass %}{% endblock %}"><a class="nodecor" href="{% url 'my.views.index' %}"><span class="bigger2">&#128222;</span><span>О&nbsp;САЙТЕ</span></a></li>
      <li class="{% block newsclass %}{% endblock %}"><a class="nodecor" href="{% url 'mynews.views.list_msg' %}"><span class="pink bigger2">&#9749;</span><span>{% trans 'News' %}</span></a></li>
      <li class="{% block postsclass %}{% endblock %}"><a class="nodecor" href="{% url 'posts.views.list_subjects' %}"><span class="bigger2">&#128240;</span><span>{% trans 'Posts' %}</span></a></li>
      <li class="{% block myclass %}{% endblock %}"><a class="nodecor" href="{% url 'my.views.list_photos' %}"><span class="bigger2">&#128247;</span><span>{% trans 'Photos' %}</span></a></li>
      <li class="{% block songsclass %}{% endblock %}"><a class="nodecor" href="{% url 'songs.views.list_songs' %}"><span class="bigger2">&#127928;</span><span>{% trans 'Chords' %}</span></a></li>
      <li class="{% block booksclass %}{% endblock %}"><a class="nodecor" href="{% url 'books.views.list_books' %}"><span class="bigger2">&#128218;</span><span>{% trans 'Books' %}</span></a></li>
    </ul>
  </div>
  <div id="top_nav" class="smaller">
    <ul class="nomarg nopad nolist">
    {% if request.user.is_authenticated %}
      <li>{% trans 'Welcome,' %} <b>{{ request.user.username }}</b></li>
      <li>&nbsp;</li>
      <li><a class="nodecor" href="{% url 'django.contrib.auth.views.logout' %}?b={{ logback }}">{% trans 'Log out' %}</a></li>
    {% else %}
      <li><a class="nodecor" href="{% url 'django.contrib.auth.views.login' %}?b={{ logback }}">{% trans 'Log in' %}</a></li>
      <li>&nbsp;</li>
      <li><a class="nodecor" href="{% url 'my.views.create_new_user' %}?b={{ logback }}">{% trans 'Register' %}</a></li>
    {% endif %}
    </ul>
  </div>
</div>
<div id="main_content" class="main">
  <div class="view">
    <div id="page_header"><h2>{% block pageheader %}{% endblock %}</div>
    <div id="page_content">{% block content %}{% endblock %}</div>
  </div>
</div>
<div id="main_footer" class="main smaller">
  <table width="100%" cellpadding="0" cellspacing="5"><tr>
  <td align="right" width="35%" class="smaller">
    © 2012-2018 <a href="/about/">egaxegax</a>
  </td>
  <td align="center" width="30%">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t12.3;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika informer --> 
<a href="https://metrika.yandex.ru/stat/?id=17275033&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/17275033/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="17275033" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer --> 
<!-- Yandex.Metrika counter --> 
<script type="text/javascript"> 
(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter17275033 = new Ya.Metrika({ id:17275033, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); 
</script> <noscript><div><img src="https://mc.yandex.ru/watch/17275033" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --> 
  </td>
  <td align="left" width="35%">
<div class="share42init"></div>
<script type="text/javascript" src="/media/share42/share42.js"></script>
  </td>
  </tr>
  </table>
</div>
{% if focus or form.username %}
<script type="text/javascript">
  window.onload = function() {
    var el = document.getElementById('{{ focus }}{{ form.username.id_for_label }}');
    if (el) el.focus();
  }
</script>
{% endif %}
</body>
</html>
