<!DOCTYPE html>
<html>
<head>{% load i18n %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="description" content="Портал Григория Еремина. Тексты, фото, статьи, заметки{% block description %}{% endblock %}"/>
<meta name="keywords" content="Портал Григория Еремина, Григорий Еремин, Grigoriy Eremin, egax, egaxegax{% block keywords %}{% endblock %}"/>
<meta name="google-site-verification" content="tDIIwt3nNSOeRwaSbOPKjWIuVvKvi6E7YCLV_WOnCqE" />
<meta name='yandex-verification' content='5b93c57666b143ad' />
<title>{% block title %}{% endblock %}Портал Григория Еремина</title>
<link rel='shortcut icon' href='{{ MEDIA_URL }}img/favicon.ico?1322400151' />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
{% block pagestylelink %}{% endblock %}
<style type="text/css">
#main_header { height: 60px; }
#main_content .view { min-height: 450px; }
#main_footer { height: 40px; text-align: center; }
#top_logo { width: 240px; margin-top: 10px; text-align: center; }
#top_nav .vspace { margin-top: 20px; }
#top_ban { text-align: center; margin-top: 5px; width: 480px; height: 50px; }
#top_menu ul { display: table; width: 100%; max-width: 100%; margin-top: 5px; }
#top_menu ul li { display: table-cell; text-align: center; width: 17%; padding-top: 5px; border-radius: 2px 2px 2px 2px; }
li.login { border-right: 1px solid gray; }
#top_menu ul li a { height: 40px; display: table; width: 100%; }
#top_menu ul li span { display: table-cell; vertical-align: middle; }
#page_header { padding: 14px; }
{% block pagestyle %}{% endblock %}
</style>
<!--Google counter-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-25857345-2', 'egaxegax.appspot.com');
  ga('send', 'pageview');
</script>
<!--/Google counter-->
{% block pagescript %}{% endblock %}
</head>
<body class="nomarg">
  <div class="wrap wrap_header">
  <div id="main_header" class="main">
    <div id="top_logo" class="lfloat">
      <a class="nodecor" href="/">
        <img src="{{ MEDIA_URL }}img/egax-logo.png" title="{% trans 'Egax Portal' %}" alt="{% trans 'Egax Portal' %}"/>
      </a>
    </div>
    <div id="top_ban" class="lfloat">
      <!--Banner-->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- eg1 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2243951601941043"
         data-ad-slot="2646603557"
         data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <!--/Banner-->
    </div>
    <div id="top_nav" class="rfloat smaller">      
      {% if request.user.is_authenticated %}
      <ul class="nomarg nopad nolist">
        <li>{% trans 'Welcome,' %} <b>{{ request.user.username }}</b></li>
        <li><a class="nodecor" href="{% url 'django.contrib.auth.views.logout' %}?b={{ logback }}">{% trans 'Log out' %}</a></li>
        </ul>
      {% else %}
      <ul class="inl vspace">
        <li class="login hspace"><a class="nodecor" href="{% url 'django.contrib.auth.views.login' %}?b={{ logback }}">{% trans 'Log in' %}</a></li>
        <li class="hspace"><a class="nodecor" href="{% url 'my.views.create_new_user' %}?b={{ logback }}">{% trans 'Register' %}</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
<div id="top_menu" class="main">
  <ul class="inl nomarg nopad">
    <li class="{% block aboutsclass %}{% endblock %}"><a class="nodecor" href="{% url 'my.views.index' %}"><span>{% trans 'About' %}</span></a></li>
    <li class="{% block newsclass %}{% endblock %}"><a class="nodecor" href="{% url 'mynews.views.list_msg' %}"><span>{% trans 'News' %}</span></a></li>
    <li class="{% block postsclass %}{% endblock %}"><a class="nodecor" href="{% url 'posts.views.list_subjects' %}"><span>{% trans 'Posts' %}</span></a></li>
    <li class="{% block myclass %}{% endblock %}"><a class="nodecor" href="{% url 'my.views.list_photos' %}"><span>{% trans 'Photos' %}</span></a></li>
    <li class="{% block songsclass %}{% endblock %}"><a class="nodecor" href="{% url 'songs.views.list_songs' %}"><span>{% trans 'Chords' %}</span></a></li>
    <li class="{% block booksclass %}{% endblock %}"><a class="nodecor" href="{% url 'books.views.list_books' %}"><span>{% trans 'Books' %}</span></a></li></ul>
</div>
<div id="main_content" class="main">
  <div class="view">
    <div id="page_header"><h2 class="nomarg">{% block pageheader %}{% endblock %}</h2></div>
    <div id="page_content">{% block content %}{% endblock %}</div>
  </div>
</div>
<div id="main_footer" class="main smaller">
  <table width="100%" cellpadding="0" cellspacing="5"><tr><td align="right" width="50%">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t12.3;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
  </td><td align="left" class="smaller">
    © 2012-2017 <a href="/about/">egaxegax</a>
  </td></tr>
  </table>
</div>
{% if focus or form.username %}
<script type="text/javascript">
  window.onload = function() {
    var el = document.getElementById('{{ focus }}{{ form.username.id_for_label }}');
    if (el) el.focus();
  }
</script>
{% endif %}
</body>
</html>
