{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Profile' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.mainmenu { background-color: rgb(200,220,230); }
ul.profile li { padding: 1px 0 1px 0; }
{% endblock %}
{% block pageheader %}{% trans 'Profile' %}{% endblock %}
{% block content %}
<p>
  Информация о пользователе:
</p>
<ul class="profile">
  <li>{% trans 'avatar'|capfirst %}: <img width="26px" height="26px" src="{% url 'my.views.get_avatar' id=record.author.id %}" title="{{ record.author.username }}"/></li>
  <li>{% trans 'name'|capfirst %}: <span class="smaller">{{ record.author.username }}</span></li>
  <li>{% trans 'last login'|capfirst %}: <span class="smaller">{{ record.author.last_login }}</span></li>
  <li>{% trans 'date joined'|capfirst %}: <span class="smaller">{{ record.author.date_joined }}</span></li>
  <li>{% trans 'Posts'|capfirst %}: <span class="smaller">{{ record_count }}</span></li>
</ul>
{% endblock %}
