{% extends 'base.html' %}
{% load i18n %}
{% block description %}{% trans 'Profile' %} пользователя {{ record.author.username }}{% endblock %}
{% block title %}{% trans 'Profile' %} пользователя {{ record.author.username }} - {% endblock %}
{% block pagestyle %}
{% endblock %}
{% block aboutclass %}wrap{% endblock %}
{% block pageheader %}{# trans 'Profile' #}{% endblock %}
{% block content %}
<p>Информация о пользователе:</p>
 <div class="wrap">
 <dl class="msgtext">
   <dt>{% trans 'avatar'|capfirst %}&nbsp; <img width="26px" height="26px" src="{% url 'my.views.get_avatar' id=record.author.id %}" title="{{ record.author.username }}"/></dt>
   <dt>{% trans 'name'|capfirst %}&nbsp; <span class="smaller">{{ record.author.username }}</span></dt>
   <dt>{% trans 'last login'|capfirst %}&nbsp; <span class="smaller">{{ record.author.last_login }}</span></dt>
   <dt>{% trans 'date joined'|capfirst %}&nbsp; <span class="smaller">{{ record.author.date_joined }}</span></dt>
   <dt>{% trans 'posts'|capfirst %}&nbsp; <span class="smaller">{{ record_count }}</span></dt>
 </dl>
 </div>
{% endblock %}
