{% extends 'base.html' %}
{% load i18n %}
{% block title %}

{% if request.GET.b == '/news/' %}
{% trans 'My news' %},
{% elif request.GET.b == '/posts/' %}
{% trans 'Posts' %},
{% elif request.GET.b == '/photos/' %}
{% trans 'Photos' %},
{% elif request.GET.b == '/songs/' %}
{% trans 'Chords' %},
{% elif request.GET.b == '/books/' %}
{% trans 'Books' %},
{% endif %} Войти -

{% endblock %}

{% block pageheader %}{% endblock %}
{% block content %}

<p class="mtext hspace">Введите свои учетные данные.</p>

<p>
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
  <table class="mtext">
    {{ form }}
    <tr><th/><td><input type="submit" value="Войти" /></td></tr>
  </table>
  <input type="hidden" name="next" value="{{ request.GET.b }}">
  </form>
</p>

<p class="hspace">Для регистрации напишите письмо на <a class="smaller" href="mailto:egax@bk.ru?subject=О%20сайте%20egaxegax.appspot.com&body=Хочу%20написать" target="_blank">egax@bk.ru</a> для получения инструкции.</p>

{% endblock %}
