{% extends 'base.html' %}
{% load i18n %}
{% load customfilters %}
{% block description %}{% trans 'Profile' %} пользователя {{ record.username }}{% endblock %}
{% block title %}{% trans 'Profile' %} пользователя {{ record.username }} - {% endblock %}
{% block pagestyle %}
div.myview { height: 300px; }
{% endblock %}
{% block aboutsclass %}wrap3{% endblock %}
{% block pageheader %}{# trans 'Profile' #}{% endblock %}
{% block content %}
<p class="mtext hspace">{% trans 'Profile' %} пользователя <b>{{ record.username }}</b></p>
 <div class="myview wrap">
 <dl class="myview msgtext">
   <dt>{% trans 'avatar'|capfirst %}&nbsp; <img width="26px" height="26px" src="{% url 'fotos.views.get_avatar' id=record.id %}" title="{{ record.username }}"/></dt>
   <dt>{% trans 'name'|capfirst %}&nbsp; <span class="smaller">{{ record.username }}</span></dt>
   <dt>{% trans 'last login'|capfirst %}&nbsp; <span class="smaller"><acronym title="{{ record.last_login }}">{{ record.last_login|time_since }}</acronym></span></dt>
   <dt>{% trans 'date joined'|capfirst %}&nbsp; <span class="smaller">{{ record.date_joined }}</span></dt>
   <dt>{% trans 'posts'|capfirst %}&nbsp; <span class="smaller">{{ record_count }}</span></dt>
 </dl>
 </div>
{% endblock %}
