{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block keywords %}, {% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block title %}{% if subject.subject %}{{ subject.subject }}{% else %}{% trans 'Guestbook' %}{% endif %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block pagestyle %}
#topmenu li.guestmenu { background-color: #E4E4E4; }
{% endblock %}
{% block pageheader %}{% if subject.subject %}{{ subject.subject }}{% else %}{% trans 'Guestbook' %}{% endif %}{% endblock %}
{% block content %}
<p>Читайте, пишите заметки, оставляйте комментарии.<p>
{% if user.is_authenticated %}
  <p>
    <form action="{% url guestbook.views.edit_greeting id=form.initial.id %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form }}
       <input type="hidden" id="id_id" name="id" value="{{ form.initial.id }}" />
      <tr><th/><td><input type="submit" value="{% trans 'Post' %}" /></td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
{% endblock %}
