{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% load myfilter %}
{% block description %}, {% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block keywords %}, {% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block title %}{% trans 'Guestbook' %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block pagestyle %}
#top_menu li.guestmenu { border-bottom: 1px solid #3855c0; }
.messageitem { background-color: #ffffff; min-height: 1em; padding: 0px 10px; margin: 0px; }
.messageitem dt { padding: 5px 0; }
.messageitem dd { padding-bottom: 5px; color: gray; }
{% endblock %}
{% block pageheader %}{% trans 'Guestbook' %}{% endblock %}
{% block content %}
<p>Читайте, пишите статьи и заметки, оставляйте комментарии.</p>
<p>Темы статей:</p>
{% for subj in subjects.object_list %}
  {% if subj.subject %}
    <dl class="messageitem">
      <dt><a href="{% url 'guestbook.views.list_posts' id_subj=subj.id %}">{{ subj.subject|escape }}</a>
      <span class="smaller">[{{ subj.count }}]</span></dt>
      <dd class="smaller">
        <acronym title="{{ subj.date|date:"Y-m-d H:i" }}">{{ subj.date|time_since }}</acronym> {% trans 'ago' %} {% trans 'ago' %}
      </dd>
    </dl>
  {% endif %}
{% endfor %}
<p class="smaller"><a href="{% url 'guestbook.views.list_posts' %}">{% trans 'All' %} {% trans 'Notes'|lower %}</a></p>
{% if subjects.object_list %}
  <p class="smaller">
    {% if subjects.has_previous %}
      <a href="?page={{ subjects.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% endif %}
    {% if subjects.paginator.num_pages > 1 %}
      <span class="current">
        {% trans 'Page' %} {{ subjects.number }} {% trans 'of' %} {{ subjects.paginator.num_pages }}
      </span>
    {% endif %}
    {% if subjects.has_next %}
      <a href="?page={{ subjects.next_page_number }}">{% trans 'next' %} ›</a>
    {% endif %}
  </p>
{% else %}
  <p>{% trans 'No subjects' %}.</p>
{% endif %}
{% if request.user.is_authenticated %}
  <p>
    <form action="{% url 'guestbook.views.add_post' %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form_subject }}{{ form }}     
      <tr><th></th><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="smaller" align="right">{% trans 'Support syntax' %} <b>Markdown</b></td></tr>
        </table>
      </td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
{% endblock %}
