{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block keywords %}, {% trans 'notes' %}, {% trans 'posts' %}{% endblock %}
{% block title %}{% trans 'Guestbook' %} - {% trans 'notes' %}, {% trans 'posts' %} - {% endblock %}
{% block pagestyle %}
#topmenu li.guestmenu { background-color: #E4E4E4; }
.messageheader { background-color: #D6D6D6; height: 1.5em; padding: 0 8px; }
.messagesubject { background-color: #E4E4E4; height: 1.5em; padding: 0 10px; }
.subjlist td { border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; }
{% endblock %}
{% block pageheader %}{% trans 'Subjects' %}{% endblock %}
{% block content %}
<p>Читайте, пишите статьи и заметки, оставляйте комментарии.<p>
{% if subjects.object_list %}
  <table class="subjlist" width=100% border=0 cellpadding=0 cellspacing=0>
    <tr><td class="messageheader">{% trans 'Topics' %}</td>
      <td class="messageheader">{% trans 'Posts' %}</td>
      <td class="messageheader">{% trans 'Updated' %}</td>
      <td class="messageheader">{% trans 'By' %}</td></tr>
{% endif %}
{% for subject in subjects.object_list %}
  {% if subject.subject %}
    <tr><td class="messagesubject">
        <a href="{% url guestbook.views.list_greetings id_subj=subject.id %}">{{ subject.subject|escape }}</a>
      </td>
    <td class="messagesubject">{{ subject.greeting_count }}</td>
    <td class="messagesubject">{{ subject.updated|date:"d.m.Y H:i" }}</td>
    <td class="messagesubject"><a class="nodecor" href="{% url guestbook.views.get_user_profile id=subject.author.id %}">{{ subject.author }}</a></td></tr>
  {% endif %}
{% endfor %}
{% if subjects.object_list %}
  </table>
{% endif %}
{% if subjects.object_list %}
  <p class="smaller">
    {% if subjects.has_previous %}
      <a href="?page={{ subjects.previous_page_number }}">‹ {% trans 'previous' %}</a>
    {% endif %}
    {% if subjects.paginator.num_pages > 1 %}
      <span class="current">
        {% trans 'Page' %} {{ subjects.number }} {% trans 'of' %} {{ subjects.paginator.num_pages }}
      </span>
    {% endif %}
    {% if subjects.has_next %}
      <a href="?page={{ subjects.next_page_number }}">{% trans 'next' %} ›</a>
    {% endif %}
  </p>
{% else %}
  <p>{% trans 'No subjects' %}.</p>
{% endif %}
{% if user.is_authenticated %}
  <p>
    <form action="{% url guestbook.views.create_greeting %}" method="post">{% csrf_token %}
    <table class="formpost">
      {{ form_subject }}{{ form }}     
      <tr><th/><td>
        <table cellspacing="0" cellpadding="0" width="100%"><tr>
          <td><input type="submit" value="{% trans 'Post' %}" /></td>
          <td class="smaller" align="right">{% trans 'Support syntax' %} <b>Markdown</b></td></tr>
        </table>
      </td></tr>
    </table>
    </form>
  </p>
{% else %}
  <p class="smaller">{% trans 'Please authorize to post messages' %}.</p>
{% endif %}
  <p class="smaller"><a href="{% url guestbook.views.list_greetings %}">{% trans 'All' %} {% trans 'Notes'|lower %}</a></p>
{% endblock %}
